<div
  fxLayoutAlign="center center"
  fxLayout="column"
  fxFlex
  class="co-spinner-container cos-fluid-width cos-fluid-height"
>
  <ng-container *ngIf="mode === spinnerModes.LOADING">
    <div
      class="co-spinner-inner-container"
      [ngClass]="showText === false ? 'co-spinner-no-text' : ''"
    >
      <div
        class="co-spinner"
        [ngClass]="lightColour === true ? 'co-light-spinner' : ''"
        [style.height]="spinnerSize + 'px'"
        [style.width]="spinnerSize + 'px'"
        [style.border-width]="spinnerSize > 20 ? '5px' : '3px'"
      ></div>
    </div>
    <div
      *ngIf="showText === true"
      class="cos-margin-3 cos-center-text cos-body-2 cos-line-height-2"
    >
      {{ spinnerText | translate }}
    </div>
  </ng-container>
  <ng-container *ngIf="mode === spinnerModes.SUCCEEDED">
    <mat-icon class="co-spinner-failure-icon"> {{ successIcon }} </mat-icon>
    <div class="cos-margin-3 cos-center-text cos-body-2 cos-line-height-2">
      {{
        successType === undefined || successType === null
          ? (successText | translate)
          : (getSuccessText(successType) | translate)
      }}
    </div>
  </ng-container>
  <ng-container *ngIf="mode === spinnerModes.FAILED">
    <mat-icon class="co-spinner-failure-icon" color="warn">
      {{ failureIcon }}
    </mat-icon>
    <div class="cos-margin-3 cos-center-text cos-body-2 cos-line-height-2">
      {{
        errorType === undefined || errorType === null
          ? (failureText | translate)
          : (getErrorText(errorType) | translate)
      }}
    </div>
    <div
      *ngIf="(pagesFacade.pageErrorCode$ | async) !== undefined"
      class="cos-gray-text-chipped cos-center-text cos-body-4 cos-gray-text cos-line-height-2"
    >
      {{ "SPINNER.ERROR_CODE" | translate }}
      {{ pagesFacade.pageErrorCode$ | async }}
    </div>
  </ng-container>
</div>
