@import "../../../app-root.scss";

:host {
  width: 100%;
  height: 100%;
}

.co-spinner-failure-icon,
.co-icon {
  width: 80px !important;
  height: 80px !important;
  font-size: 80px;
  color: var(--co-main-color) !important;
  margin-bottom: 30px;
  margin-top: 34px !important;
}

.co-spinner-inner-container {
  height: auto;
  width: 100%;
  margin-top: 30px;
  align-items: flex-end;
  place-content: flex-end;
  display: flex;
  color: white;
  &.co-unpadded {
    margin-top: 68px !important;
  }
  &.co-spinner-no-text {
    margin-top: 0px !important;
  }
}

.co-spinner {
  margin: 0px auto;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-style: solid;
  border-color: var(--co-button-disabled-color) !important;
  border-top-color: var(--co-main-color) !important;
  border-radius: 100%;
  &.co-spinner-grey {
    border-color: var(--co-placeholder-text-lighter-color) !important;
    border-top-color: var(--co-tag-text-color) !important;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
