<div
  class="co-header-container cos-pos-fixed cos-fluid-width cos-padding-2 cos-no-padding-left cos-no-padding-right"
>
  <app-main-header
    #mainHeader
    [show]="{
      showBasket: true,
      showBookmark: true,
      showCanvas: true,
      showSearch: true,
      showTranslation: true,
      showManagement: true
    }"
  ></app-main-header>
</div>
<div
  #fadeTop
  class="co-top-fade cos-pos-fixed cos-pos-top-reset cos-fluid-width"
  fxLayout="row"
  fxLayoutAlign="center end"
></div>

<div
  class="cos-fluid-width cos-fluid-height"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxFlex fxLayoutAlign="center center">
    <ng-container *ngIf="(hasCriticalErrorOccured | async) === false">
      <span class="co-404"> 404 </span>
      <span class="cos-body-0 cos-center-text cos-padding-1"
        ><b>
          {{ sillyDescription }}
        </b>
      </span>
    </ng-container>
    <ng-container *ngIf="(hasCriticalErrorOccured | async) === true">
      <span class="co-404"> 503 </span>
      <span class="cos-body-0 cos-center-text cos-padding-1"
        ><b>
          {{ sillyCriticalDescription }}
        </b>
      </span>
    </ng-container>
  </div>
  <app-footer></app-footer>
</div>
