.co-profile-content,
.co-content-container,
.co-bg {
  z-index: 1002;
}
.co-top-fade {
  z-index: 1003;
}
.co-header-container {
  z-index: 1004;
}

.co-bg {
  background: url(/assets/stars.webp);
  opacity: 0.2;
}

.co-banner {
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255, 0) 0%,
    rgb(0, 0, 0, 1) 50%,
    rgb(0, 0, 0, 1) 100%
  );
  height: 350px;
  z-index: 999;
}

.co-404 {
  font-size: 200px;

  @media only screen and (max-width: 1000px) {
    font-size: 100px;
  }
}
