<div
  *ngIf="pageMode === pageModes.DEFAULT"
  class="co-header-container cos-pos-fixed cos-fluid-width cos-padding-2 cos-no-padding-left cos-no-padding-right"
>
  <app-main-header
    #mainHeader
    [show]="{
      showBasket: true,
      showBookmark: true,
      showCanvas: true,
      showSearch: true,
      showTranslation: true,
      showManagement: true
    }"
  ></app-main-header>
</div>
<div
  #fadeTop
  fxLayout="row"
  fxLayoutAlign="center end"
  class="co-top-fade cos-pos-fixed cos-pos-top-reset cos-fluid-width"
  [ngClass]="pageMode === pageModes.PROFILE ? 'co-top-fade-hidden' : ''"
></div>
<div
  #fadeBottom
  *ngIf="manageMode !== manageModes.DEFAULT"
  class="co-bottom-fade cos-bg-faded-darker-gray cos-pos-fixed cos-pos-bottom-reset cos-fluid-width"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div
    id="co-bottom-action-container"
    class="co-bottom-action-container"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
  >
    <div
      fxFlex="250px"
      class="cos-body-0 cos-padding-2 cos-no-padding-top cos-no-padding-bottom cos-disappear-on-mobile"
    >
      {{
        manageMode === manageModes.RENEW
          ? ("LABELS.RENEW_DOMAINS" | translate)
          : ("LABELS.TRANSFER_DOMAINS" | translate)
      }}
    </div>
    <div
      *ngIf="selectedDomainsCount > 0"
      fxFlex
      fxLayout="row"
      fxLayoutGap="10px"
      fxLayoutAlign="start start"
      class="cos-padding-2 cos-no-padding-right cos-no-padding-top cos-no-padding-bottom"
    >
      <app-preview-image
        *ngFor="let d of selectedDomainsToDisplay"
        [preview]="'assets/img-blank.png'"
        [error]="'assets/profile-blank.svg'"
        [src]="ensMetadataAPI + hashToBigIntString(d.labelHash) + '/image'"
        [style.height]="'50px'"
        [style.width]="'50px'"
        [enableBorderRadius]="false"
        [spinnerSize]="10"
        class="co-avatar cos-pointer"
        (click)="goToDomain(d.labelName)"
        class="cos-border-radius-1 cos-overflow-hidden cos-box-shadow"
      ></app-preview-image>
      <div
        *ngIf="selectedDomainsCount > maxNumberOfSelectedDomainsDisplayed"
        style="width: 50px; height: 50px"
        class="cos-body-3 cos-bg-gray cos-border-radius-1 cos-box-shadow"
        fxLayoutAlign="center center"
      >
        +{{ selectedDomainsCount - maxNumberOfSelectedDomainsDisplayed }}
      </div>
    </div>

    <div
      *ngIf="selectedDomainsCount === 0"
      fxFlex
      fxLayout="row"
      fxLayoutGap="10px"
      class="cos-padding-2 cos-no-padding-right cos-no-padding-top cos-no-padding-bottom"
    >
      {{ "LABELS.SELECT_DOMAINS" | translate }}...
    </div>
    <div
      fxFlex="0 0 auto"
      fxLayoutGap="10px"
      fxLayoutAlign="end center"
      class="cos-padding-2 cos-no-padding-left cos-no-padding-top cos-no-padding-bottom"
    >
      <button
        mat-button
        class="cos-button-paging cos-box-shadow"
        (click)="cancelManagement()"
      >
        <span *ngIf="isDeviceMobile === false">
          <b>
            {{ "BUTTON.CANCEL" | translate }}
          </b>
        </span>
        <mat-icon *ngIf="isDeviceMobile === true"> close </mat-icon>
      </button>
      <button
        mat-button
        class="cos-button-paging cos-box-shadow"
        (click)="proceedManagement()"
      >
        <div fxLayoutAlign="center center">
          <div
            fxFlex="0 0 auto"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
            *ngIf="
              savingChangesInitiated === true ||
              (pendingPayments | async) === true
            "
          >
            <app-spinner
              [padded]="false"
              [lightColour]="true"
              [spinnerSize]="10"
              [showText]="false"
              *ngIf="savingChangesInitiated === true"
            ></app-spinner>
            <a
              (click)="goToPendingTx()"
              class="cos-body-3"
              *ngIf="(pendingPayments | async) === true"
              >1 {{ "BUTTON.PENDING" | translate }}
              {{ "LABELS.TRANSACTION" | translate }}</a
            >
          </div>
          <span
            *ngIf="
              savingChangesInitiated === false &&
              (pendingPayments | async) === false
            "
            fxFlex
          >
            <span *ngIf="isDeviceMobile === false">
              <b>
                {{ "BUTTON.PROCEED" | translate }}
              </b>
            </span>
            <mat-icon *ngIf="isDeviceMobile === true"> chevron_right </mat-icon>
          </span>
        </div>
      </button>
    </div>
  </div>
</div>
<div
  #backToTop
  class="co-back-to-top cos-pos-fixed cos-pos-bottom-reset cos-pos-right-reset cos-padding-3 cos-soft-visibility-hidden"
>
  <div
    (click)="backScrollContentToTop()"
    class="cos-bg-main cos-padding-0 cos-no-padding-bottom cos-border-radius-1 cos-box-shadow cos-pointer"
  >
    <mat-icon> arrow_upward</mat-icon>
  </div>
</div>
<div
  #scrollableContentContainer
  appGetScrollableXy
  (scrollPosition)="
    windowTopScroll = $event[1];
    !($event[1] > 300)
      ? (backToTop.style.visibility = 'hidden')
      : (backToTop.style.visibility = 'visible');
    $event[1] > 50 && fadeTopExist === true
      ? (fadeTop?.style.display = 'flex')
      : (fadeTop?.style.display = 'none');
    $event[1] > 300
      ? (filters.style.position = 'sticky')
      : (filters.style.position = 'static');
    $event[1] > 300
      ? (filters.style.top = pageMode === pageModes.DEFAULT ? '120px' : '30px')
      : (filters.style.top = 'none');
    hasViewBottomed($event[1]) === true ? loadMoreDomains() : null
  "
  fxLayout="column"
  fxLayoutAlign="start start"
  class="co-content-container cos-fluid-width cos-fluid-height cos-overflow-y cos-pos-fixed"
>
  <div
    #profileContentContainer
    fxFlex
    fxLayout="row"
    fxLayoutAlign="center start"
    class="co-profile-content-container cos-fluid-width"
    [ngClass]="pageMode === pageModes.PROFILE ? 'co-mode-profile' : ''"
  >
    <div fxFlex="100" fxLayout="column" class="co-profile-content">
      <ng-container *ngTemplateOutlet="banner"> </ng-container>
      <div
        #tabHeader
        fxFlex="0 0 auto"
        [ngClass]="hasDomainsListLoaded === false ? 'cos-disabled' : ''"
        class="cos-bg-neutral cos-border cos-no-border-left cos-no-border-right cos-no-border-top"
      >
        <div
          fxFlex
          fxLayout="row"
          fxLayoutGap="10px"
          [style.height]="'60px'"
          class="cos-body-0"
          [ngClass]="
            isDeviceMobile === true
              ? {
                  'co-content-header-tabs-mobile': true,
                  'cos-overflow-y': true,
                  'cos-overflow-no-bars': true,
                  'cos-fluid-width': true
                }
              : ''
          "
        >
          <div
            (click)="
              featuredItemsExists === true ? (tab = tabs.FEATURED) : null
            "
            [ngClass]="
              tab !== tabs.FEATURED || featuredItemsExists === false
                ? 'cos-button-tab-disabled'
                : ''
            "
            class="co-list-picker cos-button-tab cos-pointer cos-center-text"
          >
            <b> {{ "LABELS.FEATURED_ITEMS" | translate }} </b>
          </div>
          <div
            (click)="tab = tabs.DOMAINS"
            [ngClass]="tab !== tabs.DOMAINS ? 'cos-button-tab-disabled' : ''"
            class="co-list-picker cos-button-tab cos-pointer cos-center-text"
          >
            <b> {{ "LABELS.DOMAINS" | translate }} </b>
          </div>
        </div>
      </div>

      <div
        fxFlex="0 0 auto"
        fxLayoutGap="15px"
        fxLayoutAlign="end center"
        [ngClass]="hasDomainsListLoaded === false ? 'cos-disabled' : ''"
        class="cos-disappear-on-mobile cos-padding-2 cos-no-padding-left cos-no-padding-right"
      >
        <form
          fxFlex
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="filterForm"
          class="cos-fluid-width cos-body-4 cos-gray-text"
        >
          <mat-form-field
            fxLayout="column"
            class="co-main-search cos-body-0 cos-input-field-no-label"
          >
            <input
              class="cos-fluid-width cos-bg-darker-gray"
              matInput
              type="text"
              autocomplete="off"
              maxlength="50"
              placeholder="{{ 'LABELS.SEARCH' | translate }}..."
              formControlName="contains"
              (input)="performDomainSearch()"
            />
          </mat-form-field>
        </form>

        <form
          fxFlex="20"
          fxLayout="column"
          fxLayoutAlign="start stretch"
          [formGroup]="filterForm"
          class="cos-fluid-width cos-body-4 cos-gray-text"
        >
          <mat-form-field
            class="co-main-search cos-body-0 cos-input-field-no-label"
          >
            <mat-select
              formControlName="sortBy"
              fxFlex
              class="cos-border-radius-2 mat-select-small"
              (selectionChange)="resetLastDomainSearchResult()"
            >
              <mat-option [value]="sortTypes.EXPIRATION">
                {{ "LABELS.SORT_BY_EXPIRATIONS" | translate }}
              </mat-option>
              <mat-option [value]="sortTypes.REGISTRATION">
                {{ "LABELS.SORT_BY_LATEST_REGISTRATIONS" | translate }}
              </mat-option>
              <mat-option [value]="sortTypes.DURATION">
                {{ "LABELS.SORT_BY_LONGEST_DURATION" | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <mat-button-toggle-group name="displayMode" aria-label="Font Style">
          <mat-button-toggle [value]="displayModes.AVATAR">
            <mat-icon
              class="cos-icon-can-activate"
              [color]="displayMode === displayModes.AVATAR ? 'primary' : ''"
              (click)="setDisplayMode(displayModes.AVATAR)"
            >
              grid_view
            </mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="displayModes.LINEAR">
            <mat-icon
              class="cos-icon-can-activate"
              [color]="displayMode === displayModes.LINEAR ? 'primary' : ''"
              (click)="setDisplayMode(displayModes.LINEAR)"
            >
              table_rows
            </mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
        <div
          fxFlex="0 0 auto"
          fxLayout="column"
          fxLayoutGap="10px"
          fxLayoutAlign="center center"
          *ngIf="
            pageMode === pageModes.DEFAULT &&
            userDomains !== undefined &&
            domainsCount > 0
          "
          [ngClass]="userDomains === undefined ? 'cos-disabled' : ''"
          class="cos-fluid-height"
        >
          <button
            mat-button
            *ngIf="isProfileOwnerByWallet === true"
            [disabled]="manageMode !== manageModes.DEFAULT"
            [style.opacity]="manageMode !== manageModes.DEFAULT ? '0.25' : '1'"
            [matMenuTriggerFor]="actionMenu"
            class="cos-button-paging cos-body-2"
          >
            <span *ngIf="isDeviceMobile === false">
              <b> {{ "LABELS.MANAGE_DOMAINS" | translate }} </b>
            </span>
            <mat-icon *ngIf="isDeviceMobile === true"> settings </mat-icon>
          </button>
          <button
            mat-button
            *ngIf="isProfileOwnerByWallet === false"
            [disabled]="manageMode !== manageModes.DEFAULT"
            [style.opacity]="manageMode !== manageModes.DEFAULT ? '0.25' : '1'"
            [matMenuTriggerFor]="otherActionMenu"
            class="cos-button-paging cos-body-2"
          >
            <b> {{ "LABELS.ACTIONS" | translate }} </b>
          </button>
        </div>
      </div>

      <div
        fxLayout="row"
        fxFlex
        fxLayoutGap="30px"
        class="cos-fluid-width"
        [ngClass]="isDeviceMobile === true ? { 'cos-padding-1': true } : ''"
      >
        <div
          class="co-filters"
          [ngClass]="pageMode === pageModes.PROFILE ? 'co-mode-profile' : ''"
        >
          <div #filters fxLayout="column" class="co-filters-content">
            <ng-container *ngTemplateOutlet="filterSection"> </ng-container>
          </div>
        </div>
        <div
          fxFlex
          fxLayout="column"
          fxLayoutAlign="stretch stretch"
          fxLayoutGap="10px"
        >
          <ng-container
            *ngIf="featuredItemsExists === true && tab === tabs.FEATURED"
          >
            <div *ngFor="let f of featuredTags">
              <div
                class="cos-body-1 cos-padding-2 cos-no-padding-left cos-no-padding-top"
              >
                {{ f }}
              </div>
              <div fxLayout="row wrap" class="cos-fluid-width">
                <ng-container *ngIf="displayMode === displayModes.LINEAR">
                  <ng-container *ngTemplateOutlet="linearDomainTemplateHeader">
                  </ng-container>
                </ng-container>
                <ng-container
                  *ngIf="
                    hasDomainsListLoaded === true &&
                    displayMode === displayModes.AVATAR
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      avatarDomainTemplate;
                      context: { domains: getFeaturedDomainsByTag(f) }
                    "
                  >
                  </ng-container>
                </ng-container>
                <ng-container
                  *ngIf="
                    hasDomainsListLoaded === true &&
                    displayMode === displayModes.LINEAR
                  "
                >
                  <ng-container
                    *ngTemplateOutlet="
                      linearDomainTemplate;
                      context: { domains: getFeaturedDomainsByTag(f) }
                    "
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="displayMode === displayModes.LINEAR">
                  <ng-container *ngTemplateOutlet="linearDomainTemplateFooter">
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="start start"
            *ngIf="tab === tabs.DOMAINS"
          >
            <ng-container *ngIf="displayMode === displayModes.LINEAR">
              <ng-container *ngTemplateOutlet="linearDomainTemplateHeader">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === false &&
                displayMode === displayModes.LINEAR &&
                lastDomainSearchResult === undefined
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderFullTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === false &&
                displayMode === displayModes.AVATAR &&
                lastDomainSearchResult === undefined
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderAvatarTemplate">
              </ng-container>
            </ng-container>
            <div
              *ngIf="
                hasDomainsListLoaded === true &&
                (domainsCount === 0 || !(filterSearchDomains().length > 0))
              "
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center"
              class="cos-fluid-width cos-fluid-height cos-bg-faded-darker-gray cos-border-radius-2"
            >
              <div fxFlex="0 0 auto">
                <app-custom-spinner
                  [spinnerText]="'SPINNER.NO_DATA_TO_DISPLAY'"
                  [spinnerSize]="150"
                  [mode]="spinnerModes.LOADING"
                  [customIcon]="'llayers'"
                >
                </app-custom-spinner>
              </div>
            </div>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                displayMode === displayModes.LINEAR
              "
            >
              <ng-container
                *ngTemplateOutlet="
                  linearDomainTemplate;
                  context: { domains: userDomainsList }
                "
              >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                displayMode === displayModes.AVATAR
              "
            >
              <ng-container
                *ngTemplateOutlet="
                  avatarDomainTemplate;
                  context: { domains: userDomainsList }
                "
              >
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                userDomainsList !== undefined &&
                domainsListResolving === true &&
                displayMode === displayModes.AVATAR &&
                ((lastDomainSearchResult !== undefined &&
                  lastDomainSearchResult.length > 0) ||
                  lastDomainSearchResult === undefined)
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderAvatarTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                userDomainsList !== undefined &&
                domainsListResolving === true &&
                displayMode === displayModes.LINEAR &&
                ((lastDomainSearchResult !== undefined &&
                  lastDomainSearchResult.length > 0) ||
                  lastDomainSearchResult === undefined)
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderFullTemplate">
              </ng-container>
            </ng-container>
            <ng-container *ngIf="displayMode === displayModes.LINEAR">
              <ng-container *ngTemplateOutlet="linearDomainTemplateFooter">
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="pageMode === pageModes.DEFAULT"></app-footer>
</div>

<!-- FILTER SECTION -->
<ng-template #filterSection>
  <div
    *ngIf="pageMode === pageModes.PROFILE"
    #profileWidget
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    [style.opacity]="calculateProfileWidgetOpacity()"
  >
    <div
      #profileWidgetContent
      fxFlex="100px"
      [style.height]="calculateProfileWidgetHeight()"
      class="cos-overflow-hidden"
    >
      <app-preview-image
        #profileWidgetContentImage
        (imageLoaded)="avatarResolved = true"
        [preview]="'assets/img-blank.png'"
        [error]="'assets/profile-blank.svg'"
        [src]="
          ethNameData !== undefined
            ? ensMetadataAPI +
              hashToBigIntString(ethNameData.labelHash) +
              '/image'
            : 'assets/profile-blank.svg'
        "
        [style.height]="'100px'"
        class="cos-border-radius-2"
      ></app-preview-image>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="10px"
      [style.height]="calculateProfileWidgetHeight()"
    >
      <div fxFlex="0 0 auto" class="cos-body-1">
        <b>
          {{ userName }}
        </b>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutGap="10px" class="cos-body-3">
          <div
            class="co-external-link co-small"
            (click)="copyShareLink()"
            matTooltip="Share Link"
          >
            <mat-icon class="cos-small-icon">share</mat-icon>
          </div>
          <div
            class="co-external-link co-small"
            matTooltip="Contact user by chat"
            [matMenuTriggerFor]="chatMenu"
          >
            <mat-icon class="cos-small-icon">chat</mat-icon>
          </div>
          <div
            class="co-external-link co-small"
            (click)="goToEtherscan()"
            matTooltip="View user's Etherscan page"
          >
            <img src="assets/etherscan-logo-light-circle.png" />
          </div>
          <div
            *ngIf="profileTexts?.telegram !== undefined"
            [matTooltip]="profileTexts?.telegram"
            class="co-external-link co-small"
          >
            <img src="assets/social/telegram.png" />
          </div>
          <div
            *ngIf="profileTexts?.discord !== undefined"
            [matTooltip]="profileTexts?.discord"
            class="co-external-link co-small"
          >
            <img src="assets/social/discord.png" />
          </div>
          <div
            *ngIf="profileTexts?.reddit !== undefined"
            [matTooltip]="profileTexts?.reddit"
            class="co-external-link co-small"
          >
            <img src="assets/social/reddit.png" />
          </div>
          <div
            *ngIf="profileTexts?.twitter !== undefined"
            [matTooltip]="profileTexts?.twitter"
            class="co-external-link co-small"
          >
            <img src="assets/social/twitter.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <span class="cos-body-0">
      <b> {{ "LABELS.FILTERS" | translate }} </b>
    </span>
  </div>
  <div fxLayoutGap="10px" [ngClass]="domainsCount === 0 ? 'cos-disabled' : ''">
    <form
      fxFlex
      fxLayout="column"
      fxLayoutAlign="start stretch"
      [formGroup]="filterForm"
      class="cos-fluid-width cos-body-4 cos-gray-text"
    >
      <div class="co-form-label">
        {{ "LABELS.SORT_BY_CATEGORY" | translate }}
      </div>
      <mat-form-field class="co-main-search cos-body-0">
        <mat-select
          formControlName="category"
          fxFlex
          class="cos-border-radius-2"
          (selectionChange)="resetLastDomainSearchResult()"
        >
          <mat-option [value]="''">
            {{ "BUTTON.NONE" | translate }}
          </mat-option>
          <mat-option
            *ngFor="let c of categoriesData?.categories"
            [value]="c"
            class="cos-capitalized-text"
          >
            <span class="cos-capitalized-text">
              {{ categoriesData?.categoriesTitle[c] }}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="co-form-label">
        {{ "LABELS.REGISTRATION_DATE" | translate }}
      </div>
      <mat-form-field class="co-main-search cos-body-0">
        <input
          class="cos-fluid-width cos-bg-darker-gray"
          matInput
          type="text"
          autocomplete="off"
          maxlength="15"
          formControlName="registration"
          [matDatepicker]="registrationPicker"
          (change)="resetLastDomainSearchResult()"
        />
        <mat-icon
          matSuffix
          class="cos-small-icon cos-icon-can-activate"
          (click)="openRegistrationPicker()"
          >calendar_month</mat-icon
        >
        <mat-datepicker #registrationPicker></mat-datepicker>
      </mat-form-field>
      <div class="co-form-label">
        {{ "LABELS.EXPIRATION_DATE" | translate }}
      </div>
      <mat-form-field class="co-main-search cos-body-0">
        <input
          class="cos-fluid-width cos-bg-darker-gray"
          matInput
          type="text"
          autocomplete="off"
          maxlength="15"
          formControlName="expiration"
          [matDatepicker]="expiredPicker"
          (change)="resetLastDomainSearchResult()"
        />
        <mat-icon
          matSuffix
          class="cos-small-icon cos-icon-can-activate"
          (click)="openExpiredPicker()"
          >calendar_month</mat-icon
        >
        <mat-datepicker #expiredPicker></mat-datepicker>
      </mat-form-field>

      <div class="co-form-label">
        {{ "LABELS.MIN_LENGTH" | translate }}
      </div>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        step="1"
        min="3"
        max="20"
        aria-label="units"
        [value]="filterForm.controls.minLength.value"
        (change)="
          filterForm.controls.minLength.setValue($event.value);
          resetLastDomainSearchResult()
        "
      ></mat-slider>
      <div class="co-form-label">
        {{ "LABELS.MAX_LENGTH" | translate }}
      </div>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1"
        step="1"
        min="3"
        [max]="100"
        aria-label="units"
        [value]="filterForm.controls.maxLength.value"
        (change)="
          filterForm.controls.maxLength.setValue($event.value);
          resetLastDomainSearchResult()
        "
      ></mat-slider>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.alphabet"
            (change)="
              typesFilter.alphabet = $event.checked;
              typesFilter.emoji = false;
              resetLastDomainSearchResult()
            "
          >
            {{ "LABELS.CONTAIN_ALPHABET" | translate }}
          </mat-slide-toggle>
        </div>
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.numbers"
            (change)="
              typesFilter.numbers = $event.checked;
              typesFilter.emoji = false;
              resetLastDomainSearchResult()
            "
          >
            {{ "LABELS.CONTAIN_NUMBERS" | translate }}
          </mat-slide-toggle>
        </div>
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.emoji"
            (change)="
              typesFilter.emoji = $event.checked;
              typesFilter.numbers = false;
              typesFilter.alphabet = false;
              resetLastDomainSearchResult()
            "
          >
            {{ "LABELS.CONTAIN_EMOJI" | translate }}
          </mat-slide-toggle>
        </div>
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.palindrome"
            (change)="
              typesFilter.palindrome = $event.checked;
              resetLastDomainSearchResult()
            "
          >
            Palindromes
          </mat-slide-toggle>
        </div>
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.prepunk"
            (change)="
              typesFilter.prepunk = $event.checked;
              resetLastDomainSearchResult()
            "
          >
            Pre-punk
          </mat-slide-toggle>
        </div>
        <div fxFlex>
          <mat-slide-toggle
            [checked]="typesFilter.repeating"
            (change)="
              typesFilter.repeating = $event.checked;
              resetLastDomainSearchResult()
            "
          >
            Repeating
          </mat-slide-toggle>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- BANNER -->
<ng-template #banner>
  <div
    fxLayoutGap="30px"
    fxLayoutAlign="start end"
    class="cos-fluid-width co-banner cos-padding-2 cos-bg-faded-darker-gray cos-body-0 cos-margin-1 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom"
    [ngClass]="
      isDeviceMobile === false
        ? { 'cos-border-radius-2': true }
        : { 'cos-no-margin-top': true }
    "
  >
    <div fxLayout="row" class="cos-disappear-on-mobile">
      <app-preview-image
        *ngIf="ethNameData === undefined"
        (imageLoaded)="avatarResolved = true"
        [preview]="'assets/img-blank.png'"
        [error]="'assets/profile-blank.svg'"
        [style.width]="'200px'"
        [style.height]="'200px'"
        class="cos-border-radius-2"
      ></app-preview-image>
      <ng-container *ngIf="ethNameData !== undefined">
        <app-preview-image
          (imageLoaded)="avatarResolved = true"
          [preview]="'assets/img-blank.png'"
          [error]="'assets/profile-blank.svg'"
          [src]="
            ensMetadataAPI +
            hashToBigIntString(ethNameData?.labelHash) +
            '/image'
          "
          [style.width]="'200px'"
          [style.height]="'200px'"
          class="cos-border-radius-2"
        ></app-preview-image>
      </ng-container>
    </div>
    <div fxLayout="column" class="co-category-data cos-fluid-height">
      <div fxFlex fxLayout="column" class="co-title">
        <div class="cos-main-text">
          {{ userName }}
        </div>
        <div fxFlex fxLayout="row" class="cos-body-3">
          Ethereum Name Service
        </div>

        <div fxFlex class="cos-margin-0 cos-no-margin-left">
          <div fxLayout="row" fxLayoutGap="10px" class="cos-body-3">
            <div
              class="co-external-link"
              (click)="copyShareLink()"
              matTooltip="Share Link"
            >
              <mat-icon class="cos-small-icon">share</mat-icon>
            </div>
            <div
              class="co-external-link"
              matTooltip="Contact user by chat"
              [matMenuTriggerFor]="chatMenu"
            >
              <mat-icon class="cos-small-icon">chat</mat-icon>
            </div>
            <div
              class="co-external-link"
              (click)="goToEtherscan()"
              matTooltip="View user's Etherscan page"
            >
              <img src="assets/etherscan-logo-light-circle.png" />
            </div>
            <div
              *ngIf="profileTexts?.telegram !== undefined"
              [matTooltip]="profileTexts?.telegram"
              class="co-external-link"
            >
              <img src="assets/social/telegram.png" />
            </div>
            <div
              *ngIf="profileTexts?.discord !== undefined"
              [matTooltip]="profileTexts?.discord"
              class="co-external-link"
            >
              <img src="assets/social/discord.png" />
            </div>
            <div
              *ngIf="profileTexts?.reddit !== undefined"
              [matTooltip]="profileTexts?.reddit"
              class="co-external-link"
            >
              <img src="assets/social/reddit.png" />
            </div>
            <div
              *ngIf="profileTexts?.twitter !== undefined"
              [matTooltip]="profileTexts?.twitter"
              class="co-external-link"
            >
              <img src="assets/social/twitter.png" />
            </div>
          </div>
        </div>
      </div>
      <div fxFlex></div>
      <div fxFlex fxLayout="row" fxLayoutGap="30px">
        <div>
          <div class="cos-body-0">
            {{ userDomains?.length || "..." }}
          </div>
          <div class="cos-body-3 cos-gray-text">
            {{ "LABELS.TOTAL_ASSETS" | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #avatarDomainTemplate let-domains="domains">
  <ng-container *ngFor="let d of domains">
    <div
      fxLayout="column"
      class="co-item-with-avatar cos-pointer cos-bg-gray cos-border-radius-2 cos-overflow-hidden"
      *ngIf="displayDomain(d.labelHash) === true"
      [ngClass]="pageMode === pageModes.PROFILE ? 'co-mode-profile' : ''"
    >
      <div
        class="co-bookmark cos-padding-1"
        fxLayoutAlign="end end"
        *ngIf="pageMode === pageModes.DEFAULT"
      >
        <mat-icon
          *ngIf="manageMode === manageModes.DEFAULT"
          (click)="toggleBookmark(d)"
          [ngClass]="
            bookmarksService.isDomainBookmarked(bookmarks, d.labelName)
              ? 'checked'
              : ''
          "
          >{{
            bookmarksService.isDomainBookmarked(bookmarks, d.labelName)
              ? "bookmark_added"
              : "bookmark_add"
          }}</mat-icon
        >
        <mat-icon
          *ngIf="
            manageMode === manageModes.RENEW ||
            manageMode === manageModes.TRANSFER
          "
          (click)="addOrRemoveDomainToSelectedList(d)"
          [ngClass]="isDomainSelected(d) === true ? 'checked' : ''"
          >{{
            isDomainSelected(d) === true
              ? "check_circle"
              : "radio_button_unchecked"
          }}</mat-icon
        >
      </div>
      <div
        fxLayout="column"
        class="co-avatar-frame cos-fluid-width cos-overflow-hidden"
      >
        <app-preview-image
          [preview]="'assets/img-blank.png'"
          [error]="'assets/profile-blank.svg'"
          [src]="ensMetadataAPI + hashToBigIntString(d.labelHash) + '/image'"
          [style.width]="'auto'"
          class="co-avatar cos-fluid-height cos-pointer"
          (click)="
            manageMode !== manageModes.DEFAULT
              ? addOrRemoveDomainToSelectedList(d)
              : goToDomain(d.labelName)
          "
          [enableBorderRadius]="false"
        ></app-preview-image>
      </div>
      <div
        fxLayout="column"
        class="co-avatar-item-details"
        fxLayoutAlign="start start"
        [style.margin-top]="-((guideAvatarSize / 100) * 6 - 1) + 'px'"
      >
        <mat-progress-bar
          *ngIf="d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0"
          class="co-bulk-search-item-expiration-bar co-bar-for-avatar cos-hazard-progress-bar cos-no-border-radius"
          mode="determinate"
          [value]="d.gracePeriodPercent"
        ></mat-progress-bar>
        <div
          fxLayout="column"
          fxLayoutGap="5px"
          fxLayoutAlign="center start"
          class="cos-padding-1 cos-fluid-width"
        >
          <div
            fxFlex="0 0 auto"
            class="cos-body-4 cos-wallet-address-text-cut cos-fluid-width"
            (click)="goToDomain(d.labelName)"
          >
            <b> {{ pretty(d.labelName) }}.eth </b>
          </div>
          <div fxFlex fxLayout="row" class="cos-body-3 cos-gray-text">
            <div fxFlex="0 0 auto">Exp.</div>
            &nbsp;
            <div>{{ d.expiry | timeAgo }}</div>
          </div>
          <div fxFlex></div>
        </div>
        <mat-icon
          *ngIf="domainValid(d.labelName) === false"
          color="accent"
          class="cos-small-icon cos-pointer cos-padding-1"
          >warning</mat-icon
        >
      </div>
      <div
        *ngIf="isProfileOwnerByWallet === true"
        class="co-buy-now cos-padding-0 cos-bg-main"
        fxLayoutAlign="center center"
        (click)="goToDomain(d.labelName)"
      >
        <b> {{ "BUTTON.VIEW_DETAILS" | translate }} </b>
      </div>
      <div
        *ngIf="isProfileOwnerByWallet !== true"
        class="co-buy-now cos-padding-0 cos-bg-main"
        fxLayoutAlign="center center"
        (click)="openPurchasePanel(d)"
      >
        <b> {{ "BUTTON.BUY_NOW" | translate }} </b>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #linearDomainTemplateHeader>
  <div
    class="cos-bg-gray cos-padding-2 cos-fluid-width cos-border-darker cos-no-border-top cos-no-border-left cos-no-border-right cos-border-radius-2 cos-no-border-radius-bottom-left cos-no-border-radius-bottom-right cos-pointer"
  >
    <div fxLayoutGap="15px" fxLayoutAlign="center center">
      <div
        fxFlex="30px"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="cos-gray-text"
        *ngIf="manageMode !== manageModes.DEFAULT"
      ></div>
      <div
        fxFlex
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        class="cos-gray-text"
      >
        {{ "LABELS.DOMAIN" | translate }}
      </div>
      <div fxFlex fxLayoutAlign="center center" class="cos-disappear-on-mobile">
        <span class="cos-gray-text">
          {{ "LABELS.REGISTRATION_DATE" | translate }}
        </span>
      </div>
      <div fxFlex fxLayoutAlign="center center" class="cos-disappear-on-mobile">
        <span class="cos-gray-text">
          {{ "LABELS.EXPIRATION_DATE" | translate }}
        </span>
      </div>
      <div fxFlex></div>
    </div>
  </div>
</ng-template>
<ng-template #linearDomainTemplateFooter>
  <div
    class="cos-bg-gray cos-padding-2 cos-fluid-width cos-border-radius-2 cos-no-border-radius-top-left cos-no-border-radius-top-right cos-pointer"
  ></div>
</ng-template>

<ng-template #linearDomainTemplate let-domains="domains">
  <ng-container *ngFor="let d of domains">
    <div
      class="co-bulk-search-item-container co-linear-item cos-fluid-width cos-no-margin-right cos-pointer"
      *ngIf="displayDomain(d.labelHash) === true"
    >
      <mat-progress-bar
        *ngIf="d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0"
        class="co-bulk-search-item-expiration-bar cos-hazard-progress-bar"
        mode="determinate"
        [value]="d.gracePeriodPercent"
      ></mat-progress-bar>
      <div
        class="co-bulk-search-item cos-padding-1 cos-overflow-hidden cos-bg-gray"
        [ngClass]="
          d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0
            ? ''
            : 'co-bulk-search-item-fill-progress-bar-gap'
        "
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
      >
        <div
          *ngIf="manageMode !== manageModes.DEFAULT"
          fxFlex="30px"
          fxLayoutAlign="start center"
        >
          <mat-checkbox
            (change)="addOrRemoveDomainToSelectedList(d)"
            [checked]="isDomainSelected(d) === true"
          >
          </mat-checkbox>
        </div>
        <div
          fxFlex
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="cos-wallet-address-text-cut"
        >
          <a (click)="goToDomain(d.labelName)">
            <b> {{ pretty(d.labelName) }}.eth </b>
          </a>
          <mat-icon
            *ngIf="domainValid(d.labelName) === false"
            color="accent"
            class="cos-small-icon cos-pointer"
            >warning</mat-icon
          >
        </div>
        <div
          fxFlex
          fxLayoutAlign="center center"
          class="cos-disappear-on-mobile"
        >
          {{ d.registrationDate | formatTime }}
        </div>
        <div
          fxFlex
          fxLayoutAlign="center center"
          class="cos-disappear-on-mobile"
        >
          {{ d.expiry | timeAgo }}
        </div>
        <a
          fxFlex
          fxLayoutAlign="end center"
          href="{{ getDomainLink(d.labelName + '.eth') }}"
          target="_blank"
          class="cos-body-3"
        >
          {{ "BUTTON.VIEW_DETAILS" | translate }}
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #placeHolderFullTemplate>
  <ng-container *ngFor="let d of placeholders">
    <div
      class="co-bulk-search-item-container co-linear-item cos-bg-gray cos-fluid-width"
    >
      <div
        fxFlex
        fxLayoutGap="15px"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-padding-1"
      >
        <div
          fxFlex="150px"
          class="cos-placeholder cos-lighter-placeholder cos-fluid-height cos-border-radius-2"
        ></div>
        <div fxFlex></div>
        <div
          fxFlex="200px"
          class="cos-placeholder cos-lighter-placeholder cos-fluid-height cos-border-radius-2"
        ></div>
        <div fxFlex="100px"></div>
        <div
          fxFlex="200px"
          class="cos-placeholder cos-lighter-placeholder cos-fluid-height cos-border-radius-2"
        ></div>
        <div fxFlex></div>
        <div
          fxFlex="150px"
          class="cos-placeholder cos-lighter-placeholder cos-fluid-height cos-border-radius-2"
        ></div>
      </div>
    </div>
  </ng-container>
  <div
    *ngIf="
      hasDomainsListLoaded === false && lastDomainSearchResult !== undefined
    "
    class="cos-bg-gray cos-padding-2 cos-fluid-width cos-border-darker cos-no-border-bottom cos-no-border-left cos-no-border-right cos-border-radius-2 cos-no-border-radius-top-left cos-no-border-radius-top-right cos-pointer"
  ></div>
</ng-template>

<ng-template #placeHolderAvatarTemplate>
  <ng-container *ngFor="let d of placeholders">
    <div
      class="co-bulk-search-item-container cos-placeholder cos-bulk-sarch-item-for-avatar"
      [style.height]="guideAvatarSize + 125 + 'px'"
      [ngClass]="pageMode === pageModes.PROFILE ? 'co-mode-profile' : ''"
    >
      <div
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-no-border cos-padding-2 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      ></div>
    </div>
  </ng-container>
</ng-template>

<mat-menu #chatMenu="matMenu" class="cos-menu" xPosition="after">
  <button mat-menu-item (click)="goToNftyChat()">
    <mat-icon>chat</mat-icon>
    Nfty Chat
  </button>
  <button mat-menu-item (click)="goToBlockscan()">
    <mat-icon>chat</mat-icon>
    Blockscan
  </button>
</mat-menu>

<mat-menu #otherActionMenu="matMenu" class="cos-menu" xPosition="before">
  <div
    class="cos-padding-1"
    fxLayout="column"
    fxLayoutGap="10px"
    style="width: 280px"
  >
    <div fxFlex class="cos-body-1">
      <div fxFlex>
        <b> {{ "LABELS.OPTIONS" | translate }} </b>
      </div>
      <div fxFlex class="cos-body-3 cos-right-text">
        <a>{{ "BUTTON.CLOSE" | translate }}</a>
      </div>
    </div>

    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="downloadDomainList()"
    >
      <mat-icon>download</mat-icon>
      {{ "LABELS.DOWNLOAD_DATA" | translate }}
    </button>
    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="manageMode = manageModes.RENEW"
    >
      <mat-icon>restart_alt</mat-icon>
      {{ "LABELS.RENEW_DOMAINS" | translate }}
    </button>
    <button mat-menu-item class="cos-menu-item-contained" (click)="goToStore()">
      <mat-icon>store</mat-icon>
      {{ "LABELS.VISIT_STOREFRONT" | translate }}
    </button>
  </div>
</mat-menu>

<mat-menu #actionMenu="matMenu" class="cos-menu" xPosition="before">
  <div
    class="cos-padding-1"
    fxLayout="column"
    fxLayoutGap="10px"
    style="width: 280px"
  >
    <div fxFlex class="cos-body-1">
      <div fxFlex>
        <b> {{ "LABELS.OPTIONS" | translate }} </b>
      </div>
      <div fxFlex class="cos-body-3 cos-right-text">
        <a>{{ "BUTTON.CLOSE" | translate }}</a>
      </div>
    </div>

    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="manageMode = manageModes.RENEW"
    >
      <mat-icon>restart_alt</mat-icon>
      {{ "LABELS.RENEW_DOMAINS" | translate }}
    </button>
    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="manageMode = manageModes.TRANSFER"
    >
      <mat-icon>move_up</mat-icon>
      {{ "LABELS.TRANSFER_DOMAINS" | translate }}
    </button>
    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="openFeaturedItemsManager()"
    >
      <mat-icon>auto_awesome</mat-icon>
      {{ "LABELS.MANAGE_FEATURED_ITEMS" | translate }}
    </button>
    <button
      mat-menu-item
      class="cos-menu-item-contained"
      (click)="openSetupStoreItemsManager()"
    >
      <mat-icon>build_circle</mat-icon>
      {{ "LABELS.SETUP_STOREFRONT" | translate }}
    </button>
  </div>
</mat-menu>
