<div
  fxLayoutAlign="start center"
  [fxLayoutGap]="isDeviceMobile === true ? '0' : '25px'"
  class="co-header-container cos-body-3"
  [ngClass]="
    isDeviceMobile === true
      ? {
          'cos-padding-2': true,
          'cos-no-padding-top': true
        }
      : ''
  "
>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="15px"
    fxLayoutAlign="center center"
    class="cos-pointer cos-body-0"
    (click)="goToHome()"
    [ngClass]="
      isDeviceMobile === true
        ? {
            'cos-margin-0': true,
            'cos-no-margin-top': true,
            'cos-no-margin-bottom': true,
            'cos-no-margin-right': true
          }
        : ''
    "
  >
    <img src="assets/logo.png" fxFlex="28px" />
    <span class="co-logo cos-disappear-on-mobile"> Predomain </span>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="co-form cos-padding-2 cos-no-padding-top cos-no-padding-right cos-no-padding-right cos-no-padding-bottom"
  >
    <form
      *ngIf="show?.showSearch === true || show?.showSearch === undefined"
      fxFlex
      fxLayoutAlign="start center"
      class="co-main-form"
      [formGroup]="quickSearchForm"
    >
      <mat-form-field
        fxLayoutAlign="center center"
        fxFlexAlign="center"
        class="co-main-search cos-fluid-width cos-body-0 cos-input-field-no-label cos-field-width-shadow cos-input-prefixed co-input-field-small-prefix cos-gray-placeholder"
      >
        <input
          class="cos-fluid-width cos-bg-darker-gray cos-box-shadow"
          matInput
          type="text"
          placeholder="{{ 'LABELS.SEARCH' | translate }}..."
          autocomplete="off"
          maxlength="50"
          formControlName="search"
          [matAutocomplete]="auto"
          (input)="setSearchKeywordOnInput($event)"
          (keydown.enter)="
            bulksearch?.bulkSearchOpen === false
              ? bulksearch?.performBulkSearch(false, searchKeysToChunk)
              : ''
          "
        />
        <mat-icon matPrefix> search </mat-icon>
      </mat-form-field>
    </form>
    <mat-autocomplete
      #auto="matAutocomplete"
      class="autocomplete-for-small-input"
    >
      <div
        class="cos-bg-gray cos-body-3 cos-margin-1 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom cos-border-radius-2 cos-no-border-radius-bottom-left cos-no-border-radius-bottom-right cos-padding-1 cos-gray-text"
      >
        {{ "LABELS.SEARCH_RESULTS" | translate }}
      </div>
      <ng-container *ngFor="let d of quickSearchKeysToChunk">
        <mat-option
          *ngIf="miscUtilsService?.checksumEtheruemAddress(d) === false"
          class="cos-box-shadow"
          (click)="goToDomain(d)"
        >
          <div fxLayout="row" class="cos-fluid-width cos-padding-1">
            <div
              fxFlex
              fxLayoutAlign="start center"
              class="cos-wallet-address-text-cut"
            >
              {{ pretty(d) }}
            </div>
            <div fxflex fxLayout="column" fxLayoutAlign="center end"></div></div
        ></mat-option>
      </ng-container>
      <mat-option
        *ngFor="let d of quickSearchKeysToChunk"
        class="cos-box-shadow"
        (click)="goToProfile(d)"
      >
        <div
          fxLayout="row"
          fxLayoutGap="10px"
          class="cos-fluid-width cos-padding-1"
        >
          <div
            fxFlex
            fxLayoutAlign="start center"
            class="cos-wallet-address-text-cut"
          >
            {{ pretty(d) }}
          </div>
          <div fxflex fxLayout="column" fxLayoutAlign="center end">
            <div
              fxFlex="30px"
              fxLayoutAlign="center center"
              class="cos-body-5 cos-chip-regular cos-chip-padded cos-gray-text"
            >
              {{ "LABELS.USER_PROFILE" | translate }}
            </div>
          </div>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
  <div
    fxFlex="0 0 auto"
    class="cos-show-on-mobile cos-padding-2 cos-no-padding-top cos-no-padding-right cos-no-padding-bottom"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon class="cos-medium-icon cos-icon-can-activate">menu</mat-icon>
  </div>
  <div
    *ngIf="
      show === undefined ||
      (show !== undefined && show.showTranslation === true)
    "
    fxLayoutGap="5px"
    fxLayoutAlign="center center"
    [matMenuTriggerFor]="languageMenu"
    class="cos-pointer cos-body-5 cos-gray-text cos-padding-2 cos-disappear-on-mobile cos-no-padding-left cos-no-padding-top cos-no-padding-bottom"
  >
    <span>{{ languageUsed }}</span> <mat-icon>arrow_drop_down</mat-icon>
  </div>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="cos-body-2 cos-disappear-on-mobile"
  >
    <a
      *ngIf="
        show === undefined ||
        (show !== undefined && show.showManagement === true)
      "
      (click)="goToHome()"
      >{{ "HEADER.HOME" | translate }}</a
    >
  </div>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="cos-body-2 cos-disappear-on-mobile"
    [matMenuTriggerFor]="categoryMenu"
  >
    <a
      *ngIf="
        show === undefined ||
        (show !== undefined && show.showManagement === true)
      "
      >{{ "HEADER.CATEGORIES" | translate }}</a
    >
  </div>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="cos-body-2 cos-disappear-on-mobile"
  >
    <a
      *ngIf="
        show === undefined ||
        (show !== undefined && show.showManagement === true)
      "
      (click)="goToDiscord()"
      >{{ "HEADER.HELP" | translate }}</a
    >
  </div>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="start start"
    class="cos-body-2 cos-disappear-on-mobile"
  >
    <a
      *ngIf="
        show === undefined ||
        (show !== undefined && show.showManagement === true)
      "
      (click)="openDocs()"
      >{{ "HEADER.ABOUT" | translate }}</a
    >
  </div>
  <div fxFlex></div>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="end center"
    class="cos-disappear-on-mobile cos-padding-2 cos-no-padding-top cos-no-padding-bottom cos-no-padding-right"
  >
    <ng-container
      *ngIf="(userData | async) === false || (userData | async) === undefined"
    >
      <div
        fxFlex="0 0 auto"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="co-registration-button cos-pointer co-cart-icon cos-padding-px-0"
        [matBadge]="
          registrationCount === undefined || registrationCount === 0
            ? undefined
            : registrationCount
        "
        matBadgeColor="primary"
        matTooltip="Domains to register"
        (click)="openConnect()"
      >
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <div
        fxFlex="0 0 auto"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="co-bookmark-button cos-pointer co-cart-icon cos-padding-px-0 cos-gray-text cos-margin-1 cos-no-margin-left cos-no-margin-top cos-no-margin-bottom cos-gray-text"
        [matBadge]="
          bookmarksCount === undefined || bookmarksCount === 0
            ? undefined
            : bookmarksCount
        "
        matTooltip="Bookmarked Domains"
        (click)="showBookmarks()"
      >
        <mat-icon>bookmark</mat-icon>
      </div>

      <div
        fxFlex="0 0 auto"
        fxLayout="row"
        fxLayoutAlign="start center"
        class="cos-chip-regular cos-pointer cos-chip-primary co-address-chip cos-padding-px-0 cos-disappear-on-mobile"
        (click)="openConnect()"
      >
        <div
          fxFlex
          fxLayoutAlign="start center"
          fxLayout="row"
          class="cos-padding-px-0 cos-no-padding-bottom cos-no-padding-top"
        >
          <div class="cos-body-3">
            {{ "BUTTON.CONNECT_TO_PROCEED" | translate }}
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="(userData | async) !== false && (userData | async) !== undefined"
    >
      <div
        *ngIf="
          show === undefined || (show !== undefined && show.showBasket === true)
        "
        fxFlex="0 0 auto"
        fxLayout="row"
        fxLayoutAlign="center center"
        [matBadge]="
          registrationCount === undefined || registrationCount === 0
            ? undefined
            : registrationCount
        "
        matBadgeColor="primary"
        matTooltip="Domains to register"
        class="co-registration-button cos-pointer co-cart-icon cos-padding-px-0"
        (click)="
          hasPendingRegistrations === true ? goToCheckout() : showRegistration()
        "
      >
        <div
          *ngIf="(pendingRegistrations | async) === true"
          class="co-spinner-inner-container"
        >
          <div
            class="co-spinner co-light-spinner"
            [style.height]="'35px'"
            [style.width]="'35px'"
            [style.border-width]="'3px'"
          ></div>
        </div>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <div
        *ngIf="
          show === undefined ||
          (show !== undefined && show.showBookmark === true)
        "
        fxFlex="0 0 auto"
        class="co-bookmark-button cos-pointer co-cart-icon cos-padding-px-0 cos-margin-1 cos-no-margin-left cos-no-margin-top cos-no-margin-bottom cos-gray-text"
        fxLayout="row"
        fxLayoutAlign="center center"
        [matBadge]="
          bookmarksCount === undefined || bookmarksCount === 0
            ? undefined
            : bookmarksCount
        "
        matBadgeColor="primary"
        matTooltip="Bookmarked Domains"
        (click)="showBookmarks()"
      >
        <mat-icon>bookmark</mat-icon>
      </div>

      <div
        class="cos-pointer cos-padding-px-0 cos-no-padding-right cos-disappear-on-mobile"
        fxFlex="180px"
        fxLayout="row"
        fxLayoutAlign="start center"
        [matMenuTriggerFor]="menu"
      >
        <div
          fxFlex
          fxLayoutAlign="end center"
          fxLayout="row"
          class="cos-padding-px-0 cos-no-padding-bottom cos-no-padding-right cos-no-padding-top"
        >
          <div
            class="cos-body-1 cos-wallet-address-text-cut"
            style="max-width: 90px"
          >
            {{
              customUserName !== undefined ? customUserName : (userData | async)
            }}
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="center center"
          class="cos-padding-1 cos-no-padding-top cos-no-padding-bottom"
        >
          <img
            class="mat-menu-submenu-icon-custom active"
            src="./assets/menu-arrow-icon.svg"
          />
        </div>
        <div
          class="co-blocky-container"
          fxFlex="0 0 auto"
          fxLayoutAlign="center center"
          fxLayout="row"
        >
          <app-blocky
            fxFlex
            [walletAddress]="
              cuatomUserNameAddress !== undefined
                ? cuatomUserNameAddress
                : (userData | async)
            "
            [roundedCorners]="true"
            class="cos-fluid-width cos-fluid-height"
          ></app-blocky>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<mat-menu #languageMenu="matMenu" class="cos-menu" xPosition="after">
  <button mat-menu-item (click)="saveLanguage('en')">
    <mat-icon>language</mat-icon>
    EN - English
  </button>
  <button mat-menu-item (click)="saveLanguage('de')">
    <mat-icon>language</mat-icon>
    DE - Deutsch
  </button>
  <button mat-menu-item (click)="saveLanguage('fr')">
    <mat-icon>language</mat-icon>
    FR - Français
  </button>
  <button mat-menu-item (click)="saveLanguage('ru')">
    <mat-icon>language</mat-icon>
    RU - русский
  </button>
  <button mat-menu-item (click)="saveLanguage('es')">
    <mat-icon>language</mat-icon>
    ES - Español
  </button>
  <button mat-menu-item (click)="saveLanguage('jp')">
    <mat-icon>language</mat-icon>
    JP - 日本
  </button>
  <button mat-menu-item (click)="saveLanguage('cn')">
    <mat-icon>language</mat-icon>
    CN - 中国人
  </button>
</mat-menu>

<mat-menu #menu="matMenu" class="cos-menu" xPosition="after">
  <button mat-menu-item (click)="goToHome()">
    <mat-icon>home</mat-icon>
    {{ "HEADER.HOME" | translate }}
  </button>
  <button
    *ngIf="(userData | async) !== false && (userData | async) !== undefined"
    mat-menu-item
    (click)="openProfile()"
  >
    <mat-icon>account_circle</mat-icon>
    {{ "HEADER.PROFILE" | translate }}
  </button>
  <button mat-menu-item (click)="openDocs()">
    <mat-icon>help</mat-icon>
    {{ "HEADER.DOCS" | translate }}
  </button>
  <button
    *ngIf="(userData | async) !== false || (userData | async) !== undefined"
    mat-menu-item
    (click)="openSettings()"
  >
    <mat-icon>settings</mat-icon>
    {{ "BUTTON.SETTINGS" | translate }}
  </button>
  <button mat-menu-item (click)="goToDiscord()">
    <mat-icon>help</mat-icon>
    {{ "HEADER.HELP" | translate }}
  </button>
  <button
    mat-menu-item
    (click)="
      hasPendingRegistrations === true ? goToCheckout() : showRegistration()
    "
    class="cos-show-on-mobile"
  >
    <mat-icon
      [matBadge]="
        registrationCount === undefined || registrationCount === 0
          ? undefined
          : registrationCount
      "
      matBadgeColor="primary"
      >shopping_cart</mat-icon
    >
    {{ "HEADER.CART" | translate }}
  </button>
  <button mat-menu-item (click)="showBookmarks()" class="cos-show-on-mobile">
    <mat-icon
      [matBadge]="
        bookmarksCount === undefined || bookmarksCount === 0
          ? undefined
          : bookmarksCount
      "
      matBadgeColor="primary"
      >bookmark</mat-icon
    >
    {{ "HEADER.BOOKMARKS" | translate }}
  </button>
  <button
    *ngIf="(userData | async) === false || (userData | async) === undefined"
    mat-menu-item
    (click)="openConnect()"
  >
    <mat-icon>login</mat-icon>
    {{ "BUTTON.CONNECT" | translate }}
  </button>
  <button
    *ngIf="(userData | async) !== false && (userData | async) !== undefined"
    mat-menu-item
    (click)="disconnect()"
  >
    <mat-icon>logout</mat-icon>
    {{ "BUTTON.DISCONNECT" | translate }}
  </button>
</mat-menu>

<mat-menu #categoryMenu="matMenu" class="cos-menu" xPosition="after">
  <ng-container *ngIf="categories !== undefined">
    <button
      *ngFor="let c of categories.categories"
      mat-menu-item
      (click)="openCategory(c)"
    >
      <mat-icon>{{ categories.categoriesThumbnails[c] }}</mat-icon>
      {{ categories.categoriesTitle[c] }} —
      {{ categories.categoriesDescription[c] }}
    </button>
  </ng-container>
</mat-menu>

<app-bulk-search #bulksearch [searchKeyword]="searchKeyword"></app-bulk-search>
