<div class="co-header-container cos-fluid-width cos-pos-absolute cos-padding-2">
  <div
    fxFlex="90"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="30px"
    class="co-profile-header cos-fluid-width"
  >
    <span fxLayoutAlign="center center" fxLayoutGap="10px" (click)="goToHome()">
      <mat-icon class="cos-icon-can-activate" color="primary"
        >arrow_back_ios</mat-icon
      >
      <a class="co-back-button cos-disappear-on-mobile">
        {{ "HEADER.BACK_TO_HOME" | translate }}
      </a>
    </span>
  </div>
  <app-main-header
    [show]="{
      showBasket: true,
      showBookmark: true,
      showCanvas: true,
      showTranslation: true,
      showManagement: true,
      showSearch: true
    }"
  ></app-main-header>
</div>
<div
  fxLayout="column"
  fxLayoutGap="10px"
  class="co-floating-mobile-control cos-pos-fixed cos-show-on-mobile cos-fluid-width cos-pos-bottom-reset cos-padding-2"
>
  <div
    fxFlex="0 0 auto"
    fxLayout="row"
    class="cos-padding-1 cos-no-padding-left cos-no-padding-top cos-no-padding-right"
  >
    <div fxFlex="0 0 auto">
      <button mat-button (click)="previousPage()" class="cos-button-cancel">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayoutAlign="center center" class="cos-body-1">
      {{ currentPage }} - {{ currentPageList }} of {{ entirePageSize }}
    </div>
    <div fxFlex="0 0 auto">
      <button mat-button (click)="nextPage()" class="cos-button-cancel">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

  <button
    class="cos-fluid-width"
    mat-button
    (click)="saveChanges()"
    [disabled]="
      savingChangesInitiated === true || managementOperation === undefined
    "
  >
    <div fxLayoutAlign="center center">
      <div
        fxFlex="0 0 auto"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        *ngIf="
          savingChangesInitiated === true || (pendingPayments | async) === true
        "
      >
        <app-spinner
          [padded]="false"
          [lightColour]="true"
          [spinnerSize]="10"
          [showText]="false"
          *ngIf="savingChangesInitiated === true"
        ></app-spinner>
        <a
          (click)="goToPendingTx()"
          class="cos-body-3"
          *ngIf="(pendingPayments | async) === true"
          >1 {{ "BUTTON.PENDING" | translate }}
          {{ "LABELS.TRANSACTION" | translate }}</a
        >
      </div>
      <span
        *ngIf="
          savingChangesInitiated === false &&
          (pendingPayments | async) === false
        "
        fxFlex
      >
        {{ "BUTTON.SAVE_CHANGES" | translate }}
      </span>
    </div>
  </button>
</div>
<div
  class="co-content-container cos-fluid-width cos-fluid-height cos-overflow-y cos-pos-fixed"
>
  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    class="co-profile-content-container cos-pos-absolute cos-fluid-width cos-fluid-height"
  >
    <div
      fxFlex="100"
      fxLayout="column"
      fxLayoutGap="10px"
      class="co-profile-content cos-fluid-height"
    >
      <div fxFlex fxLayoutGap="20px">
        <div fxFlex="20" class="cos-fluid-height cos-disappear-on-mobile">
          <div
            id="canvas_size_guide"
            class="cos-fluid-width cos-no-margin-bottom"
            [style.visibility]="'hidden'"
            [style.width]="'100%'"
            [style.height]="'0px'"
          ></div>
          <div
            fxLayout="column"
            fxLayoutGap="20px"
            fxLayoutAlign="stretch stretch"
            class="cos-fluid-height cos-fluid-width cos-border-radius-2"
          >
            <div
              fxFlex="0 0 auto"
              class="cos-body-0 cos-padding-0 cos-no-padding-top cos-no-padding-left cos-disappear-on-mobile"
            >
              <b> {{ "LABELS.MANAGE_DOMAINS" | translate }} </b>
            </div>
            <app-preview-image
              *ngIf="selectedDomain === undefined"
              fxFlex="0 0 auto"
              [preview]="'assets/img-blank.png'"
              [error]="'assets/profile-blank.svg'"
              [style.height]="
                canvasService.getWidthOfDiv('canvas_size_guide') + 2 + 'px'
              "
              class="cos-border-radius-2"
            ></app-preview-image>
            <app-preview-image
              *ngIf="selectedDomain !== undefined"
              fxFlex="0 0 auto"
              [preview]="'assets/img-blank.png'"
              [error]="'assets/profile-blank.svg'"
              [src]="
                ensMetadataAPI +
                hashToBigIntString(selectedDomain.labelHash) +
                '/image'
              "
              class="cos-border-radius-2"
            ></app-preview-image>
            <div
              fxFlex
              fxLayout="column"
              class="co-filters-content cos-bg-gray cos-border-radius-2 cos-padding-2 cos-fluid-height"
            >
              <div
                fxFlex="0 0 auto"
                fxLayout="row"
                fxLayoutAlign="start start"
                fxLayoutGap="10px"
              >
                <mat-icon>info</mat-icon>
                <span>
                  <b> {{ "LABELS.DETAILS" | translate }} </b>
                </span>
              </div>
              <div
                *ngIf="selectedDomain === undefined"
                fxFlex
                fxLayout="row"
                fxLayoutAlign="center center"
                class="cos-padding-1 cos-gray-text cos-border-radius-2 cos-no-border-radius-top-left cos-no-border-radius-top-right"
              >
                <div
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                >
                  <mat-icon class="cos-large-icon">info</mat-icon>
                  <span fxFlex class="cos-center-text">
                    {{ "LABELS.SELECT_A_DOMAIN" | translate }}
                  </span>
                </div>
              </div>
              <div
                *ngIf="selectedDomain !== undefined"
                fxFlex
                fxLayoutGap="10px"
                class="cos-padding-2 cos-no-padding-left cos-no-padding-right cos-no-padding-bottom"
              >
                <form
                  fxFlex
                  fxLayout="column"
                  fxLayoutAlign="start stretch"
                  [formGroup]="metadataForm"
                  class="cos-fluid-width cos-body-4 cos-gray-text"
                >
                  <div class="co-form-label">
                    {{ "LABELS.CREATION_DATE" | translate }}
                  </div>
                  <mat-form-field class="co-main-search cos-body-0">
                    <input
                      class="cos-fluid-width cos-bg-darker-gray"
                      matInput
                      type="text"
                      autocomplete="off"
                      maxlength="50"
                      formControlName="creation"
                    />
                  </mat-form-field>
                  <div class="co-form-label">
                    {{ "LABELS.REGISTRATION_DATE" | translate }}
                  </div>
                  <mat-form-field class="co-main-search cos-body-0">
                    <input
                      class="cos-fluid-width cos-bg-darker-gray"
                      matInput
                      type="text"
                      autocomplete="off"
                      maxlength="50"
                      formControlName="registration"
                    />
                  </mat-form-field>
                  <div class="co-form-label">
                    {{ "LABELS.EXPIRATION_DATE" | translate }}
                  </div>
                  <mat-form-field class="co-main-search cos-body-0">
                    <input
                      class="cos-fluid-width cos-bg-darker-gray"
                      matInput
                      type="text"
                      autocomplete="off"
                      maxlength="50"
                      formControlName="expiration"
                    />
                  </mat-form-field>
                  <div fxFlex></div>
                  <div fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutGap="10px"></div>
                  </div>
                </form>
              </div>
            </div>
            <div fxFlex="40px" class="cos-disappear-on-mobile"></div>
          </div>
        </div>
        <div fxFlex fxLayout="column" class="cos-fluid-height">
          <div
            fxFlex="0 0 auto"
            fxLayoutAlign="start center"
            class="cos-padding-1 cos-no-padding-left cos-no-padding-top cos-no-padding-right"
          >
            <div
              fxFlex
              fxLayoutGap="20px"
              fxLayoutAlign="end center"
              class="cos-disappear-on-mobile"
            >
              <form
                fxFlex
                fxLayoutAlign="end center"
                class="co-main-form"
                [formGroup]="quickSearchForm"
              >
                <mat-form-field
                  fxLayoutAlign="center center"
                  fxFlexAlign="center"
                  class="co-main-search cos-body-0 cos-input-field-no-label"
                >
                  <input
                    class="cos-fluid-width cos-bg-darker-gray"
                    matInput
                    type="text"
                    placeholder="{{ 'LABELS.FILTER' | translate }}..."
                    autocomplete="off"
                    maxlength="50"
                    (input)="performFilter()"
                    formControlName="search"
                  />
                  <mat-icon matSuffix color="primary"> search </mat-icon>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div
            fxLayout="column"
            class="cos-fluid-width cos-fluid-height"
            fxLayoutGap="10px"
          >
            <div fxLayoutAlign="stretch start" fxLayout="column" fxFlex>
              <div
                fxFlex
                class="cos-form-container cos-fluid-width"
                fxFlex
                fxLayout="column"
                fxLayoutAlign="start center"
              >
                <table
                  mat-table
                  *ngIf="dataSource.data[0].id === null"
                  [dataSource]="dataSource"
                  class="cos-fluid-width co-manage-domains-table-header cos-fluid-height cos-table cos-table-static cos-table-empty cos-topless cos-table-fluid cos-with-paging cos-body-4"
                >
                  <ng-container matColumnDef="labelName">
                    <th mat-header-cell *matHeaderCellDef>
                      <b class="cos-show-on-mobile">
                        {{ "LABELS.MANAGE_DOMAINS" | translate }}
                      </b>
                      <b class="cos-disappear-on-mobile">
                        {{ "LABELS.DOMAIN" | translate }}
                      </b>
                    </th>
                    <td mat-cell *matCellDef="let element" [attr.colspan]="5">
                      <ng-container *ngIf="hasDomainsListLoaded === true">
                        <div fxFlex class="cos-fluid-width cos-fuid-height">
                          <app-custom-spinner
                            [spinnerText]="'SPINNER.NO_DATA_TO_DISPLAY'"
                            [spinnerSize]="150"
                            [mode]="spinnerModes.LOADING"
                            [customIcon]="'llayers'"
                          >
                          </app-custom-spinner>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="hasDomainsListLoaded === false">
                        <div fxFlex class="cos-fluid-width cos-fuid-height">
                          <app-custom-spinner
                            [spinnerText]="'SPINNER.LOADING_DATA'"
                            [spinnerSize]="150"
                            [mode]="spinnerModes.LOADING"
                            [customIcon]="'spin'"
                          >
                          </app-custom-spinner>
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="expiry">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-cemter-text"
                    >
                      <span>
                        <b>
                          {{ "LABELS.EXPIRATION_DATE" | translate }}
                        </b>
                      </span>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="renew">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-right-text"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutGap="20px"
                        fxLayoutAlign="end center"
                        class="cos-padding-px-0 cos-no-padding-left cos-no-padding-top cos-no-padding-bottom"
                      >
                        <mat-icon color="primary" class="cos-show-on-mobile"
                          >restart_alt</mat-icon
                        >
                        <b class="cos-disappear-on-mobile">
                          {{ "LABELS.RENEW" | translate }}
                        </b>
                        <mat-checkbox
                          class="no-label"
                          [disabled]="hasPendingPayments === true"
                          [style.opacity]="
                            hasPendingPayments === true ? '0.25' : '1'
                          "
                        ></mat-checkbox>
                      </div>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                      expiry
                    ></td>
                  </ng-container>
                  <ng-container matColumnDef="transfer">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-right-text"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutGap="20px"
                        fxLayoutAlign="end center"
                        class="co-header-transfer-column cos-padding-px-0 cos-no-padding-left cos-no-padding-top cos-no-padding-bottom"
                      >
                        <mat-icon color="primary" class="cos-show-on-mobile"
                          >move_up</mat-icon
                        >
                        <b class="cos-disappear-on-mobile">
                          {{ "LABELS.TRANSFER" | translate }}
                        </b>
                        <mat-checkbox
                          class="no-label"
                          [disabled]="hasPendingPayments === true"
                          [style.opacity]="
                            hasPendingPayments === true ? '0.25' : '1'
                          "
                        ></mat-checkbox>
                      </div>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                      expiry
                    ></td>
                  </ng-container>
                  <ng-container
                    *ngIf="moreInfoEnabled === true"
                    matColumnDef="moreInfo"
                  >
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-left-text"
                    ></th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                    ></td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns"
                    class="cos-table-tr-no-content"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="cos-table-tr-no-content"
                  ></tr>
                </table>
                <table
                  *ngIf="
                    dataSource.data !== undefined &&
                    dataSource.data[0].id !== null
                  "
                  multiTemplateDataRowsstart
                  mat-table
                  #tableFilled
                  [dataSource]="dataSource"
                  [ngClass]="moreInfoEnabled === true ? 'cos-expandable' : ''"
                  class="cos-fluid-width co-manage-domains-table cos-table cos-table-scrollable cos-table-80-percent cos-topless cos-with-paging cos-body-4"
                >
                  <ng-container matColumnDef="labelName">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-fluid-width-two-third"
                    >
                      <b class="cos-show-on-mobile">
                        {{ "LABELS.MANAGE_DOMAINS" | translate }}
                      </b>
                      <b class="cos-disappear-on-mobile">
                        {{ "LABELS.DOMAIN" | translate }}
                      </b>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <div
                        fxLayout="row"
                        fxLayoutGap="10px"
                        fxLayoutAlign="center center"
                        cass="cos-fluid-width"
                      >
                        <img fxFlex="20px" src="assets/ens.svg" />
                        <div class="cos-wallet-address-text-cut">
                          {{ pretty(element.labelName) }}.eth
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="expiry">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-center-text"
                    >
                      <b>
                        {{ "LABELS.EXPIRATION_DATE" | translate }}
                      </b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                    >
                      {{ element.expiry | timeAgo }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="renew">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-right-text"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutGap="20px"
                        fxLayoutAlign="end center"
                        class="co-renew-label"
                      >
                        <mat-icon color="primary" class="cos-show-on-mobile"
                          >restart_alt</mat-icon
                        >
                        <b class="cos-disappear-on-mobile">
                          {{ "LABELS.RENEW" | translate }}
                        </b>
                        <mat-checkbox
                          #renewAllCheckbox
                          class="no-label"
                          [disabled]="hasPendingPayments === true"
                          (change)="
                            selectAllToRenew(dataSource.data, $event.checked)
                          "
                          [style.opacity]="
                            hasPendingPayments === true ? '0.25' : '1'
                          "
                        ></mat-checkbox>
                      </div>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                      [style.pointer-events]="
                        managementOperation !== undefined &&
                        managementOperation !== managementOperationTypes.RENEW
                          ? 'none'
                          : 'all'
                      "
                    >
                      <mat-checkbox
                        class="no-label"
                        [checked]="element?.renew"
                        [disabled]="hasPendingPayments === true"
                        (change)="
                          element.renew = $event.checked;
                          selectDomainForRenewal($event.checked)
                        "
                        [style.opacity]="
                          hasPendingPayments === true ||
                          (managementOperation !== undefined &&
                            managementOperation !==
                              managementOperationTypes.RENEW)
                            ? '0.25'
                            : '1'
                        "
                      ></mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="transfer">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-right-text"
                    >
                      <div
                        fxLayout="row"
                        fxLayoutGap="20px"
                        fxLayoutAlign="end center"
                        class="co-renew-label"
                      >
                        <mat-icon color="primary" class="cos-show-on-mobile"
                          >move_up</mat-icon
                        >
                        <b class="cos-disappear-on-mobile">
                          {{ "LABELS.TRANSFER" | translate }}
                        </b>
                        <mat-checkbox
                          #transferAllCheckbox
                          class="no-label"
                          (change)="
                            selectAllToTransfer(dataSource.data, $event.checked)
                          "
                          [disabled]="hasPendingPayments === true"
                          [style.opacity]="
                            hasPendingPayments === true ? '0.25' : '1'
                          "
                        ></mat-checkbox>
                      </div>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                      [style.pointer-events]="
                        managementOperation !== undefined &&
                        managementOperation !==
                          managementOperationTypes.TRANSFER
                          ? 'none'
                          : 'all'
                      "
                    >
                      <mat-checkbox
                        class="no-label"
                        [checked]="element?.transfer"
                        [disabled]="
                          hasPendingPayments === true ||
                          element.gracePeriodPercent > 0
                        "
                        (change)="
                          element.transfer = $event.checked;
                          selectDomainForTransfer($event.checked)
                        "
                        [style.opacity]="
                          hasPendingPayments === true ||
                          element.gracePeriodPercent > 0 ||
                          (managementOperation !== undefined &&
                            managementOperation !==
                              managementOperationTypes.TRANSFER)
                            ? '0.25'
                            : '1'
                        "
                      ></mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container
                    *ngIf="moreInfoEnabled === true"
                    matColumnDef="moreInfo"
                  >
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-left-text"
                    ></th>
                    <td
                      mat-cell
                      *matCellDef="let element"
                      class="cos-right-text"
                    >
                      <a
                        *ngIf="
                          element === selectedDomain &&
                          collapseAllItems === false
                        "
                        (click)="
                          collapseAllItems = true; $event.stopPropagation()
                        "
                        >{{ "BUTTON.LESS_INFO" | translate }}</a
                      >
                      <a
                        *ngIf="
                          element !== selectedDomain ||
                          collapseAllItems === true
                        "
                        (click)="
                          selectDomain(element); $event.stopPropagation()
                        "
                        >{{ "BUTTON.MORE_INFO" | translate }}</a
                      >
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="detailExpanded">
                    <th
                      mat-header-cell
                      *matHeaderCellDef
                      class="cos-left-text"
                    ></th>
                    <td mat-cell *matCellDef="let element" [attr.colspan]="5">
                      <div
                        [@detailExpand]="
                          element === selectedDomain &&
                          collapseAllItems === false &&
                          moreInfoEnabled === true
                            ? 'expanded'
                            : 'collapsed'
                        "
                        class="cos-fluid-width"
                      >
                        <div
                          fxFlex
                          fxLayoutAlign="start start"
                          style="height: 200px"
                          class="cos-padding-1 cos-no-padding-left"
                        >
                          <div fxFlex fxLayout="row">
                            <div
                              fxFlex
                              fxLayout="column"
                              fxLayoutGap="10px"
                              class="cos-body-4 cos-border-gray cos-padding-1"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                  ></tr>
                  <tr
                    (click)="selectDomain(row)"
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    [ngClass]="
                      selectedDomain === row && collapseAllItems === false
                        ? 'expanded'
                        : ''
                    "
                  ></tr>
                  <ng-container *ngIf="moreInfoEnabled === true">
                    <tr
                      mat-row
                      *matRowDef="let row; columns: ['detailExpanded']"
                      class="expanded"
                    ></tr>
                  </ng-container>
                </table>
                <div
                  fxFlex
                  fxLayoutAlign="start end"
                  class="cos-fluid-width cos-overflow-hidden"
                >
                  <div fxFlex fxLayoutAlign="end center" class="cos-padding-0">
                    <div
                      fxFlex="300px"
                      fxLayout="row"
                      fxLayoutAlign="center center"
                      class="cos-disappear-on-mobile"
                    >
                      <div fxFlex="0 0 auto">
                        <button
                          mat-button
                          (click)="previousPage()"
                          class="cos-button-cancel"
                        >
                          <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                      </div>
                      <div
                        fxFlex
                        fxLayoutAlign="center center"
                        class="cos-body-3"
                      >
                        {{ currentPage }} - {{ currentPageList }} of
                        {{ entirePageSize }}
                      </div>
                      <div fxFlex="0 0 auto">
                        <button
                          mat-button
                          (click)="nextPage()"
                          class="cos-button-cancel"
                        >
                          <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                      </div>
                    </div>
                    <mat-paginator
                      [pageSizeOptions]="[30]"
                      hidePageSize="true"
                      class="cos-visibility-hidden"
                    >
                    </mat-paginator>
                  </div>
                  <div
                    fxFlex="0 0 auto"
                    fxLayoutAlign="end end"
                    class="cos-disappear-on-mobile"
                  >
                    <button
                      fxFlex="200px"
                      class="cos-fluid-width"
                      mat-button
                      (click)="saveChanges()"
                      [disabled]="
                        savingChangesInitiated === true ||
                        managementOperation === undefined
                      "
                    >
                      <div fxLayoutAlign="center center">
                        <div
                          fxFlex="0 0 auto"
                          fxLayout="row"
                          fxLayoutAlign="center center"
                          fxLayoutGap="10px"
                          *ngIf="
                            savingChangesInitiated === true ||
                            (pendingPayments | async) === true
                          "
                        >
                          <app-spinner
                            [padded]="false"
                            [lightColour]="true"
                            [spinnerSize]="10"
                            [showText]="false"
                            *ngIf="savingChangesInitiated === true"
                          ></app-spinner>
                          <a
                            (click)="goToPendingTx()"
                            class="cos-body-3"
                            *ngIf="(pendingPayments | async) === true"
                            >1 {{ "BUTTON.PENDING" | translate }}
                            {{ "LABELS.TRANSACTION" | translate }}</a
                          >
                        </div>
                        <span
                          *ngIf="
                            savingChangesInitiated === false &&
                            (pendingPayments | async) === false
                          "
                          fxFlex
                        >
                          {{ "BUTTON.SAVE_CHANGES" | translate }}
                        </span>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-menu #renewMenu="matMenu" class="cos-menu" xPosition="after">
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['6MONTHS'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["6MONTHS"] | translate }}
  </button>
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['1YEAR'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["1YEAR"] | translate }}
  </button>
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['2YEARS'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["2YEARS"] | translate }}
  </button>
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['3YEARS'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["3YEARS"] | translate }}
  </button>
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['4YEARS'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["4YEARS"] | translate }}
  </button>
  <button
    mat-menu-item
    (click)="selectRenewalDuration(renewalDurationTypes['5YEARS'])"
  >
    <mat-icon>update</mat-icon>
    {{ renewalDurationTypes["5YEARS"] | translate }}
  </button>
</mat-menu>
