:host {
  overflow-y: auto;
  height: 100%;
}

.co-title-text {
  color: var(--co-main-color);
  &::first-letter {
    text-transform: capitalize;
  }
  font-size: 30px;
}

.co-top-fade {
  background-image: linear-gradient(
    0deg,
    rgb(0, 0, 0, 0) 0%,
    rgb(0, 0, 0, 1) 50%,
    rgb(0, 0, 0, 1) 100%
  );
  height: 150px;
}

.co-bg {
  background: url(/assets/stars.webp);
  opacity: 0.2;
}

.co-profile-content-container {
  padding-top: 70px;
}

.co-profile-content {
  padding: var(--co-padding-2) !important;
  @media only screen and (max-width: 1000px) {
    padding: 0 !important;
  }
}

.co-profile-content,
.co-content-container,
.co-bg {
  z-index: 1002;
}
.co-top-fade {
  z-index: 1003;
}
.co-header-container {
  z-index: 1004;
}

.co-form-label {
  margin-top: 10px;
}

.co-renew-label {
  padding-right: 5px;
}

.co-floating-mobile-control {
  z-index: 1003;
}

.co-table-loading {
  border: solid 4px var(--co-gray-bg);
}
