<div
  fxFlex
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="start center"
  class="co-footer cos-disappear-on-mobile cos-margin-5 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom cos-fluid-width cos-bg-faded-darker-gray"
>
  <div
    fxFlex
    fxLayout="column"
    fxLayoutGap="50px"
    class="co-footer-content cos-body-3 cos-margin-3 cos-no-margin-left cos-no-margin-right cos-padding-px-40 cos-no-padding-left cos-no-padding-right"
  >
    <div
      fxLayout="column"
      fxLayoutGap="30px"
      class="cos-fluid-width-three-fourth cos-disappear-on-mobile"
    >
      <div class="cos-left-text cos-body-0 cos-main-text">
        <b> Join the Web3 Community </b>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutGap="30px"
        fxLayoutAlign="start center"
        class="cos-body-2"
      >
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://docs.ens.domains/"> ENS Docs </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://discuss.ens.domains/"> ENS Forums </a>
          </div>
        </div>

        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://ensgrows.substack.com/"> ENS Grows </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://ensdaonews.substack.com/"> ENS DAO News </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://dune.com/makoto/ens"> ENS Statistics </a>
          </div>
        </div>

        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://web3domains.com/"> Web3Domains </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://esteroids.eth.limo/"> Esteroids </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://me3.si/"> me3 </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://nimi.eth.limo/"> Nimi </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://eth.limo/"> ETH LIMO </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://ipfs.io/"> IPFS </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://nftychat.xyz/"> Nfty Chat </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://ethleaderboard.xyz/"> ENS Leaderboard </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://dwebservices.xyz/"> DWebServices </a>
          </div>
        </div>
        <div
          fxFlex="0 0 auto"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="co-learn"
        >
          <div>
            <a href="https://mask.io/"> Mask Network </a>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <div
        fxFlex
        fxLayout="row wrap"
        fxLayoutGap="20px"
        [fxLayoutAlign]="
          isDeviceMobile === true ? 'center center' : 'start center'
        "
        class="cos-body-2"
      >
        <a href="https://discord.predomain.xyz" class="cos-main-text"
          >Discord</a
        >
        <a href="https://twitter.com/predomain_eth" class="cos-main-text"
          >Twitter</a
        >
        <a href="https://predomain.medium.com" class="cos-main-text">Medium</a>
        <a href="https://status.predomain.xyz" class="cos-main-text">Status</a>
        <a href="https://docs.predomain.xyz" class="cos-main-text">Docs</a>
        <a href="https://github.com/predomain" class="cos-main-text">Github</a>
      </div>
      <div
        fxFlex="0 0 auto"
        class="cos-left-text cos-gray-text"
        [fxLayoutAlign]="
          isDeviceMobile === true ? 'center center' : 'start center'
        "
      >
        Predomain v1.0.0
      </div>
    </div>
  </div>
</div>
