<div
  fxFlex
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="start center"
  class="co-footer cos-disappear-on-mobile cos-margin-5 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom cos-fluid-width cos-bg-faded-darker-gray"
>
  <div
    fxFlex
    fxLayout="row"
    fxLayoutGap="50px"
    class="co-footer-content cos-margin-2 cos-no-margin-left cos-no-margin-right"
  >
    <div
      fxFlex
      fxLayout="row wrap"
      fxLayoutGap="20px"
      [fxLayoutAlign]="
        isDeviceMobile === true ? 'center center' : 'start center'
      "
      class="cos-body-4"
    >
      <span> Predomain </span>&nbsp;&nbsp;&nbsp;
      <a href="https://nfty.predomain.xyz" class="cos-main-text">Nfty Chat</a>
      <a href="https://twitter.com/predomain_eth" class="cos-main-text"
        >Twitter</a
      >
      <a href="https://predomain.medium.com" class="cos-main-text">Medium</a>
      <a href="https://status.predomain.xyz" class="cos-main-text">Status</a>
      <a href="https://docs.predomain.xyz" class="cos-main-text">Docs</a>
      <a href="https://github.com/predomain" class="cos-main-text">Github</a>
    </div>
    <div
      fxFlex="0 0 auto"
      class="cos-left-text cos-gray-text cos-body-5"
      [fxLayoutAlign]="
        isDeviceMobile === true ? 'center center' : 'start center'
      "
    >
      Data Node&nbsp;—&nbsp;{{
        checkFailed === true ? "Offline" : lastPingFloat + "ms"
      }}&nbsp;&nbsp;<span class="cos-body-7">{{
        checkFailed === true ? "🔴" : "🟢"
      }}</span>
    </div>
  </div>
</div>
