<div mat-dialog-content>
  <div
    class="cos-margin-1 cos-no-margin-top cos-no-margin-left cos-no-margin-right cos-fluid-width"
    fxLayoutAlign="start start"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <div
      fxFlex
      fxLayoutAlign="center center"
      class="cos-fluid-width cos-padding-1 cos-no-padding-left cos-no-padding-right cos-no-padding-top"
    >
      <div fxFlex class="cos-body-0">
        <b>
          {{ "HEADER.SETTINGS" | translate }}
        </b>
      </div>
      <div fxFlex class="cos-right-text">
        <a (click)="saveChanges(); closeDialog()" class="cos-body-4">
          {{ "BUTTON.SAVE_CHANGES" | translate }}
        </a>
      </div>
    </div>
    <div class="cos-fluid-width">
      <mat-list class="cos-content-list">
        <mat-list-item class="disabled">
          <div fxLayout="column" fxLayoutGap="20px">
            <div>{{ "HEADER.LIGHT_MODE" | translate }}</div>
            <mat-slide-toggle>{{
              "LABELS.ENABLE_LIGHT_MODE" | translate
            }}</mat-slide-toggle>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="customRPCSelectionEnabled === true">
          <div fxLayout="column" fxLayoutGap="20px" class="cos-fluid-width">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
              <span fxFlex="0 0 auto">
                {{ "HEADER.CUSTOM_RPC" | translate }}
              </span>
            </div>
            <form fxFlex [formGroup]="settingsForm">
              <mat-form-field
                class="cos-fluid-width cos-body-0 cos-input-field-no-label cos-gray-placeholder"
              >
                <input
                  class="cos-fluid-width"
                  matInput
                  blur="true"
                  type="text"
                  autocomplete="off"
                  placeholder="Enter RPC url..."
                  formControlName="rpc"
                />
                <div matSuffix>
                  <div
                    class="co-rpc-select cos-right-text cos-body-5"
                    [matMenuTriggerFor]="rpcTypeMenu"
                  >
                    <a
                      *ngIf="
                        settingsForm.controls.providerSelected.value ===
                        validRpcProviders.DEFAULT
                      "
                    >
                      {{ "BUTTON.DEFAULT" | translate }}
                    </a>
                    <a
                      *ngIf="
                        settingsForm.controls.providerSelected.value ===
                        validRpcProviders.CUSTOM
                      "
                    >
                      {{ "BUTTON.CUSTOM" | translate }}
                    </a>
                    <a
                      *ngIf="
                        settingsForm.controls.providerSelected.value ===
                        validRpcProviders.INFURA
                      "
                    >
                      Infura
                    </a>
                    <a
                      *ngIf="
                        settingsForm.controls.providerSelected.value ===
                        validRpcProviders.ALCHEMY
                      "
                    >
                      Alchemy
                    </a>
                  </div>
                </div>
              </mat-form-field>
              <div
                *ngIf="
                  settingsForm.controls.providerSelected.value !==
                    validRpcProviders.DEFAULT &&
                  settingsForm.controls.providerSelected.value !==
                    validRpcProviders.CUSTOM
                "
                fxLayout="column"
                fxLayoutGap="7px"
              >
                <mat-form-field
                  *ngIf="
                    settingsForm.controls.providerSelected.value ===
                    validRpcProviders.INFURA
                  "
                  class="cos-fluid-width cos-body-0 cos-input-field-no-label cos-gray-placeholder"
                >
                  <input
                    class="cos-fluid-width"
                    matInput
                    blur="true"
                    type="text"
                    autocomplete="off"
                    placeholder="Project ID"
                    formControlName="rpcId"
                  />
                </mat-form-field>
                <mat-form-field
                  class="cos-fluid-width cos-body-0 cos-input-field-no-label cos-gray-placeholder"
                >
                  <input
                    class="cos-fluid-width"
                    matInput
                    blur="true"
                    type="text"
                    autocomplete="off"
                    placeholder="Project Secret"
                    formControlName="rpcSecret"
                  />
                </mat-form-field>
              </div>
            </form>
            <div
              class="cos-fluid-width cos-light-note cos-light-note-dark cos-body-5 cos-gray-text"
            >
              {{ "LABELS.NOTICE_SELECT_AN_RPC" | translate }}
            </div>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div fxLayout="column" fxLayoutGap="20px" class="cos-fluid-width">
            <div>{{ "HEADER.PAYMENTS_HISTORY" | translate }}</div>
            <button
              mat-button
              (click)="clearPaymentHistory()"
              [disabled]="removingPayentHistory === true"
            >
              <div fxLayoutAlign="center center">
                <div fxFlex="0 0 auto" *ngIf="removingPayentHistory === true">
                  <app-spinner
                    [padded]="false"
                    [lightColour]="true"
                    [spinnerSize]="10"
                    [showText]="false"
                  ></app-spinner>
                </div>
                <span *ngIf="removingPayentHistory === false" fxFlex>
                  {{ "BUTTON.CLEAR_HISTORY" | translate }}
                </span>
              </div>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<mat-menu #rpcTypeMenu="matMenu" class="cos-menu" xPosition="before">
  <button mat-menu-item (click)="selectProvider(validRpcProviders.DEFAULT)">
    {{ "BUTTON.DEFAULT" | translate }}
  </button>
  <button mat-menu-item (click)="selectProvider(validRpcProviders.CUSTOM)">
    {{ "BUTTON.CUSTOM" | translate }}
  </button>
  <button mat-menu-item (click)="selectProvider(validRpcProviders.ALCHEMY)">
    Alchemy
  </button>
</mat-menu>
