@import "../app-root.scss";

:host {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;
  background-color: var(--co-bg-neutral-color);
}
.co-progress-bar {
  z-index: 10002;
}
