:host {
  overflow-y: auto;
  height: 100%;
}

.co-title-text {
  color: var(--co-main-color);
  &::first-letter {
    text-transform: capitalize;
  }
  font-size: 30px;
}

.co-top-fade {
  background-color: var(--co-bg-neutral-color) !important;
  height: 95px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 5%),
    0 1px 10px 0 rgb(0 0 0 / 5%) !important;
}

.co-profile-content-container {
  padding-top: 90px;
  width: 90% !important;
  min-width: 1300px;
  max-width: 1900px;
  margin: auto;
  @media only screen and (max-width: 1000px) {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
.co-profile-content,
.co-content-container,
.co-bg {
  z-index: 1002;
}
.co-top-fade {
  z-index: 1003;
}
.co-back-to-top,
.co-header-container,
.co-bookmark {
  z-index: 1004;
}

.co-profile-header {
  gap: 30px;
  @media only screen and (max-width: 1000px) {
    gap: 0 !important;
  }
}

.co-bulk-search-item-container {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  margin-right: 20px;

  &:not(.co-linear-item) {
    border: 0 !important;
    margin-bottom: 20px !important;
    @media only screen and (max-width: 600px) {
      width: calc(50% - 10px) !important;
      &:nth-of-type(2n) {
        margin-right: 0px !important;
      }
    }
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      width: calc(25% - 16px) !important;
      &:nth-of-type(4n) {
        margin-right: 0px !important;
      }
    }
    @media only screen and (min-width: 1201px) and (max-width: 1999px) {
      width: calc(20% - 16px) !important;
      &:nth-of-type(5n) {
        margin-right: 0px !important;
      }
    }
    @media only screen and (min-width: 2000px) {
      width: calc(12.5% - 18px) !important;
      &:nth-of-type(8n) {
        margin-right: 0px !important;
      }
    }
    &.co-mode-profile {
      width: calc(20% - 18px) !important;
      @media only screen and (max-width: 600px) {
        width: calc(50% - 10px) !important;
        &:nth-of-type(2n) {
          margin-right: 0px !important;
        }
      }
      @media only screen and (min-width: 601px) and (max-width: 1200px) {
        width: calc(25% - 16px) !important;
        &:nth-of-type(4n) {
          margin-right: 0px !important;
        }
      }
      @media only screen and (min-width: 1201px) {
        width: calc(20% - 16px) !important;
        &:nth-of-type(5n) {
          margin-right: 0px !important;
        }
      }
    }
  }
  &.cos-bulk-sarch-item-for-avatar {
    border-radius: var(--cos-border-radius-2);
  }
  &.co-bulk-search-item-not-available {
    .co-bulk-search-item-expiration-bar {
      opacity: 0.3;
    }
    .co-bulk-search-item {
      opacity: 0.25;
    }
  }
  &:hover:not(.cos-placeholder) {
    .co-bulk-search-item-expiration-bar {
      opacity: 1 !important;
    }
    .co-bulk-search-item {
      opacity: 1 !important;
      background-color: var(--co-darker-gray-bg) !important;
    }
  }
  &.cos-placeholder {
    .co-bulk-search-item {
      background: none !important;
    }
  }
  &.co-linear-item {
    &.cos-placeholder {
      margin-right: 0 !important;
    }
  }
}

.co-bulk-search-item-expiration-bar {
  border-top-left-radius: var(--cos-border-radius-1);
  border-top-right-radius: var(--cos-border-radius-1);
  position: relative;
  margin-bottom: -4px;
  &.co-bar-for-avatar {
    margin-bottom: -5px;
  }
}
.co-bulk-search-item {
  &.cos-bulk-sarch-item-full-width {
    width: 100% !important;
  }
  cursor: pointer;
  padding-left: var(--co-padding-2);
  padding-right: var(--co-padding-1);
  border-bottom: solid 2px var(--co-darker-border-color);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .co-market-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
  }
}

.co-external-link {
  width: 40px;
  height: 40px;
  border-radius: var(--cos-border-radius-2);
  background-color: var(--co-gray-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-color: var(--co-main-color);
  }
  img,
  mat-icon {
    filter: grayscale(1);
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.co-filters {
  display: flex;
  flex: 0 0 350px;
  flex-direction: column;
  width: 350px;
  margin-bottom: 300px;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.co-item-with-avatar {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  @media only screen and (max-width: 600px) {
    width: calc(50% - 10px);
    &:nth-of-type(2n) {
      margin-right: 0px !important;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    width: calc(25% - 16px);
    &:nth-of-type(4n) {
      margin-right: 0px !important;
    }
  }
  @media only screen and (min-width: 1201px) and (max-width: 1999px) {
    width: calc(20% - 16px);
    &:nth-of-type(5n) {
      margin-right: 0px;
    }
  }
  @media only screen and (min-width: 2000px) {
    width: calc(12.5% - 18px);
    &:nth-of-type(8n) {
      margin-right: 0px !important;
    }
  }
  .co-buy-now {
    display: none !important;
  }
  &:hover {
    .co-avatar-item-details {
      filter: brightness(1.25);
      background-color: var(--co-light-gray-bg) !important;
    }
    .co-buy-now {
      display: flex !important;
      animation-name: lift-up-buy-now;
      animation-duration: 0.1s;
      margin-bottom: -40px;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
    .co-avatar-frame {
      .co-avatar {
        filter: brightness(1.1);
        animation-name: zoom-in-avatar;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        @keyframes zoom-in-avatar {
          from {
            transform: scale(1);
          }

          to {
            transform: scale(1.12);
          }
        }
      }
    }
  }
  @keyframes lift-up-buy-now {
    from {
      transform: translateY(40px);
    }

    to {
      transform: translateY(0px);
    }
  }
}

.co-back-button {
  @media only screen and (max-width: 1000px) {
    display: none !important;
  }
}

.co-avatar-container {
  width: 100%;
}

.co-form-label {
  margin-top: 10px;
}

.co-no-name {
  font-size: 2.3vw;
  margin-top: 3%;
  margin-left: 2.25%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.225);
}
.co-content-header-tabs-mobile {
  height: 50px;
}

.co-bookmark {
  mat-icon {
    background-color: rgba(0, 0, 0, 0.5);
    &.checked,
    &:hover {
      background-color: var(--co-main-color);
      box-shadow: var(--co-box-shadow);
    }
    padding: 7px 6px 5px 6px;
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    height: 30px;
    @media only screen and (max-width: 1000px) {
      font-size: 25px;
      width: 25px;
      height: 25px;
    }
  }
}

.co-bar-chart {
  top: 130px;
}
.co-bar-chart-fade {
  background: rgb(18, 22, 25);
  background: linear-gradient(
    90deg,
    rgba(18, 22, 25, 1) 0%,
    rgba(18, 22, 25, 1) 25%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1000;
}
.co-info-container {
  width: 50%;
}

.co-category-thumbnail {
  margin-top: 0;
  margin-left: -100%;
  font-size: 750%;
  width: 100%;
  height: calc(100% - 5px);
  align-items: center;
  justify-content: center;
  display: flex;
}

.co-statistics-box {
  width: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
  &:nth-of-type(2n) {
    width: calc(50% - 5px);
    margin-right: 0 !important;
  }
  &:nth-of-type(5n),
  &:nth-of-type(6n) {
    margin-bottom: 0 !important;
  }
}

.co-avatar {
  width: calc(50% - 5px);
}

.co-list-picker {
  @media only screen and (max-width: 1000px) {
    flex: 1;
    max-width: 100% !important;
  }
}

.co-meta-stats-container {
  flex-direction: row;
  flex: 1;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.co-chart-container {
  height: 480px;
}
