<div class="co-header-container cos-fluid-width cos-pos-absolute cos-padding-2">
  <div
    fxFlex="90"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="30px"
    class="co-profile-header cos-fluid-width"
  >
    <span fxLayoutAlign="center center" fxLayoutGap="10px" (click)="goToHome()">
      <mat-icon class="cos-icon-can-activate" color="primary"
        >arrow_back_ios</mat-icon
      >
      <a class="co-back-button">
        {{ "HEADER.BACK_TO_HOME" | translate }}
      </a>
    </span>
  </div>
  <app-main-header
    [show]="{
      showBasket: true,
      showBookmark: true,
      showCanvas: true,
      showTranslation: true,
      showManagement: true
    }"
  ></app-main-header>
</div>
<div
  #fadeTop
  class="co-top-fade cos-pos-fixed cos-pos-top-reset cos-fluid-width"
  fxLayout="row"
  fxLayoutAlign="center end"
></div>
<div
  class="co-back-to-top cos-pos-fixed cos-pos-bottom-reset cos-pos-right-reset cos-padding-3"
>
  <div
    (click)="backScrollContentToTop()"
    class="cos-bg-main cos-padding-0 cos-no-padding-bottom cos-border-radius-1 cos-box-shadow cos-pointer"
  >
    <mat-icon> arrow_upward</mat-icon>
  </div>
</div>
<div
  #scrollableContentContainer
  appGetScrollableXy
  (scrollPosition)="
    $event[1] > 50
      ? (fadeTop.style.display = 'flex')
      : (fadeTop.style.display = 'none');
    $event[1] > 150
      ? (filters.style.position = 'sticky')
      : (filters.style.position = 'static');
    $event[1] > 150
      ? (filters.style.top = '90px')
      : (filters.style.top = 'none');
    containTextFilterIsOn === false && hasViewBottomed($event[1]) === true
      ? lazyLoad()
      : null
  "
  class="co-content-container cos-fluid-width cos-fluid-height cos-overflow-y cos-pos-fixed"
>
  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    class="co-profile-content-container cos-pos-absolute cos-fluid-width cos-fluid-height cos-bg-neutral"
  >
    <div
      fxFlex="100"
      fxLayout="column"
      class="co-profile-content cos-padding-2"
    >
      <div
        fxFlex="50px"
        fxLayout="row"
        fxFlexAlign="top"
        fxLayoutAlign="start center"
        class="cos-fluid-width cos-body-3 cos-padding-1 cos-no-padding-left cos-border cos-no-border-left cos-no-border-top cos-no-border-right"
      >
        <a href="/#/home">{{ "HEADER.HOME" | translate }}</a>
        <span
          fxFlex="0 0 auto"
          fxLayoutAlign="center center"
          class="cos-padding-0 cos-no-padding-top cos-no-padding-bottom"
        >
          <mat-icon class="cos-small-icon" color="primary"
            >arrow_forward</mat-icon
          >
        </span>
        <span class="cos-gray-text">
          {{ "HEADER.CATEGORIES" | translate }}
        </span>
        <span
          fxFlex="0 0 auto"
          fxLayoutAlign="center center"
          class="cos-padding-0 cos-no-padding-top cos-no-padding-bottom"
        >
          <mat-icon class="cos-small-icon" color="primary"
            >arrow_forward</mat-icon
          >
        </span>
        <span class="cos-gray-text">
          {{
            categoryApiData === undefined
              ? "..."
              : rootCategoryData?.categoriesDescription[
                  categoryApiData?.category
                ]
          }}
        </span>
      </div>
      <div
        fxFlex="90"
        fxLayout="row"
        class="co-profile-header cos-fluid-width cos-padding-2 cos-no-padding-left cos-no-padding-right cos-overflow-hidden cos-border cos-no-border-left cos-no-border-top cos-no-border-right"
      >
        <div
          id="co-stats-container"
          fxLayout="column"
          fxLayoutGap="20px"
          fxLayoutAlign="start start"
          class="co-meta-stats-container"
        >
          <div
            id="canvas_size_guide"
            class="cos-fluid-width cos-no-margin-bottom"
            [style.visibility]="'hidden'"
            [style.width]="'50%'"
            [style.height]="'0px'"
          ></div>
          <div
            fxFlex
            fxLayout="row"
            fxLayoutGap="10px"
            class="co-avatar-container"
          >
            <div fxFlex fxLayout="row" class="co-avatar cos-fluid-width">
              <app-preview-image
                *ngIf="ethNameData === undefined"
                (imageLoaded)="avatarResolved = true"
                [preview]="'assets/img-blank.png'"
                [error]="'assets/category-profile-blank.svg'"
                [style.width]="'100%'"
                class="cos-border-radius-2"
              ></app-preview-image>
              <app-preview-image
                *ngIf="ethNameData !== undefined"
                (imageLoaded)="avatarResolved = true"
                [preview]="'assets/img-blank.png'"
                [error]="'assets/category-profile-blank.svg'"
                [src]="
                  ensMetadataAPI +
                  hashToBigIntString(ethNameData.labelhash) +
                  '/image'
                "
                [style.width]="'100%'"
                class="cos-border-radius-2"
              ></app-preview-image>
              <mat-icon
                *ngIf="categoryApiData !== undefined"
                class="co-category-thumbnail"
              >
                {{
                  rootCategoryData.categoriesThumbnails[
                    categoryApiData?.category
                  ]
                }}
              </mat-icon>
            </div>

            <div
              fxFlex
              fxLayout="column"
              [fxLayoutGap]="categoryApiData === undefined ? '10px' : '5px'"
              class="co-info-container"
            >
              <div fxFlex="0 0 auto" fxLayout="row" class="co-title-text">
                <div
                  *ngIf="categoryApiData === undefined"
                  fxFlex
                  class="cos-wallet-address-text-cut cos-overflow-hidden"
                >
                  <div
                    style="height: 36px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryApiData !== undefined"
                  fxFlex
                  class="cos-wallet-address-text-cut cos-overflow-hidden"
                >
                  <b>
                    {{
                      rootCategoryData?.categoriesTitle[
                        categoryApiData?.category
                      ]
                    }}
                  </b>
                </div>
              </div>
              <div fxFlex fxLayoutAlign="start start" fxLayoutGap="5px">
                <div fxFlex *ngIf="categoryApiData === undefined">
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div *ngIf="categoryApiData !== undefined">
                  {{
                    profileTexts?.description === undefined
                      ? rootCategoryData?.categoriesDescription[
                          categoryApiData?.category
                        ]
                      : profileTexts?.description
                  }}
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" class="cos-fluid-width">
            <div
              fxFlex
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              class="co-info-container cos-body-2 cos-fluid-width"
            >
              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  fxLayout="column"
                  fxLayoutGap="10px"
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div fxFlex="0 0 auto">
                    <b>
                      {{ categoryNormalisedMetadata?.domainsCount }}
                    </b>
                  </div>
                  <div fxFlex="0 0 auto" class="cos-body-4">-</div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.TOTAL_ASSETS" | translate }}
                </div>
              </div>

              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  fxLayout="column"
                  fxLayoutGap="10px"
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="column"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div fxFlex="0 0 auto">
                    <b>
                      {{
                        priceToFixed(categoryNormalisedMetadata?.dailyVolume, 2)
                      }}
                      ETH
                    </b>
                  </div>
                  <div
                    *ngIf="dailyVolumeTrend > 0"
                    fxFlex="0 0 auto"
                    class="cos-uptrend-text cos-body-4"
                  >
                    +{{ dailyVolumeTrend }}%
                  </div>
                  <div
                    *ngIf="!(dailyVolumeTrend > 0) && dailyVolumeTrend !== 0"
                    fxFlex="0 0 auto"
                    class="cos-downtrend-text cos-body-4"
                  >
                    {{ dailyVolumeTrend }}%
                  </div>
                  <div
                    *ngIf="dailyVolumeTrend === 0"
                    fxFlex="0 0 auto"
                    class="cos-body-4"
                  >
                    -
                  </div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.DAILY_VOLUME" | translate }}
                </div>
              </div>

              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div fxFlex="0 0 auto">
                    <b>
                      {{ salesCountThisMonth }}
                    </b>
                  </div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.MONTHLY_SALES" | translate }}
                </div>
              </div>

              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div fxFlex="0 0 auto">
                    <b>
                      {{ salesCountToday }}
                    </b>
                  </div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.DAILY_SALES" | translate }}
                </div>
              </div>

              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div fxFlex="0 0 auto">
                    <b>
                      {{ priceToFixed(categoryNormalisedMetadata?.topSale, 2) }}
                      ETH
                    </b>
                  </div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.TOP_SALE" | translate }}
                </div>
              </div>

              <div
                class="co-statistics-box cos-border cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-1"
              >
                <div
                  *ngIf="categoryNormalisedMetadata === undefined"
                  class="cos-body-2"
                >
                  <div
                    style="height: 28px"
                    class="cos-fluid-width cos-placeholder cos-border-radius-1"
                  ></div>
                </div>
                <div
                  *ngIf="categoryNormalisedMetadata !== undefined"
                  fxLayout="row"
                  fxLayoutAlign="center center"
                  fxLayoutGap="10px"
                  class="cos-body-0 cos-fluid-width"
                >
                  <div
                    fxFlex="0 0 auto"
                    class="cos-wallet-address-text-cut cos-center-text cos-fluid-width"
                  >
                    <a
                      (click)="
                        goToEtherscanAddress(
                          categoryNormalisedMetadata?.topBuyer
                        )
                      "
                      class="cos-center-text cos-body-3"
                    >
                      <b>
                        {{
                          this.categoryNormalisedMetadata.topBuyerEthName ===
                          undefined
                            ? categoryNormalisedMetadata?.topBuyer
                            : this.categoryNormalisedMetadata.topBuyerEthName
                        }}
                      </b>
                    </a>
                  </div>
                </div>
                <div
                  class="cos-gray-text cos-margin-0 cos-no-margin-bottom cos-center-text cos-body-4"
                >
                  {{ "LABELS.TOP_BUYER" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          fxFlex
          fxLayout="column"
          class="co-chart-container cos-border cos-bg-faded-darker-gray cos-border-radius-2 cos-fluid-width cos-disappear-on-mobile"
        >
          <div
            fxFlex="0 0 auto"
            id="co-chart-control"
            fxLayoutGap="10px"
            fxLayout="column"
            class="cos-bg-neutral cos-border-radius-2 cos-margin-1 cos-no-margin-bottom cos-padding-1"
          >
            <div fxFlex class="cos-body-4">
              {{ "LABELS.SALES_ACTIVITY" | translate }}
            </div>
          </div>
          <div
            fxFlex
            class="cos-padding-2 cos-no-padding-right cos-fluid-height"
          >
            <app-dot
              #chart
              *ngIf="chartData !== undefined"
              fxFlex
              [data]="chartData"
              [chartMetadata]="{
                width: chartWidth,
                height: 360
              }"
            >
            </app-dot>
            <div
              *ngIf="chartData === undefined"
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center"
              class="cos-fluid-width cos-fluid-height"
            >
              <div fxFlex="0 0 auto">
                <app-custom-spinner
                  [spinnerText]="'SPINNER.LOADING_DATA'"
                  [spinnerSize]="150"
                  [mode]="spinnerModes.LOADING"
                  [customIcon]="'spin'"
                >
                </app-custom-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex fxLayout="row" fxLayoutGap="30px" class="cos-fluid-width">
        <div class="co-filters">
          <div
            #filters
            fxLayout="column"
            class="co-filters-content"
            [ngClass]="
              showSalesActivity === true || hasDomainsListLoaded === false
                ? 'cos-disabled'
                : ''
            "
          >
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="10px"
              class="cos-border cos-no-border-left cos-no-border-right cos-no-border-top cos-padding-2 cos-no-padding-left cos-no-padding-right"
            >
              <mat-icon>filter_alt</mat-icon>
              <span>
                <b> {{ "LABELS.FILTERS" | translate }} </b>
              </span>
            </div>
            <div
              fxLayoutGap="10px"
              class="cos-padding-1 cos-no-padding-left cos-no-padding-right cos-border-radius-2 cos-no-border-radius-top-left cos-no-border-radius-top-right"
            >
              <form
                fxFlex
                fxLayout="column"
                fxLayoutAlign="start stretch"
                [formGroup]="filterForm"
                class="cos-fluid-width cos-body-4 cos-gray-text"
              >
                <div class="co-form-label">
                  {{ "LABELS.CONTAINING_KEYWORDS" | translate }}
                </div>
                <mat-form-field class="co-main-search cos-body-0">
                  <input
                    class="cos-fluid-width cos-bg-darker-gray"
                    matInput
                    type="text"
                    autocomplete="off"
                    maxlength="50"
                    formControlName="contains"
                    (input)="doUpdateInterface()"
                  />
                </mat-form-field>

                <div class="co-form-label">
                  {{ "LABELS.REGISTRATION_DATE" | translate }}
                </div>
                <mat-form-field class="co-main-search cos-body-0">
                  <input
                    class="cos-fluid-width cos-bg-darker-gray"
                    matInput
                    type="text"
                    autocomplete="off"
                    maxlength="15"
                    formControlName="registration"
                    [matDatepicker]="registrationPicker"
                  />
                  <mat-icon
                    matSuffix
                    class="cos-small-icon cos-icon-can-activate"
                    (click)="openRegistrationPicker()"
                    >calendar_month</mat-icon
                  >
                  <mat-datepicker #registrationPicker></mat-datepicker>
                </mat-form-field>
                <div class="co-form-label">
                  {{ "LABELS.EXPIRATION_DATE" | translate }}
                </div>
                <mat-form-field class="co-main-search cos-body-0">
                  <input
                    class="cos-fluid-width cos-bg-darker-gray"
                    matInput
                    type="text"
                    autocomplete="off"
                    maxlength="15"
                    formControlName="expiration"
                    [matDatepicker]="expiredPicker"
                  />
                  <mat-icon
                    matSuffix
                    class="cos-small-icon cos-icon-can-activate"
                    (click)="openExpiredPicker()"
                    >calendar_month</mat-icon
                  >
                  <mat-datepicker #expiredPicker></mat-datepicker>
                </mat-form-field>

                <div class="co-form-label">
                  {{ "LABELS.MIN_LENGTH" | translate }}
                </div>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="1"
                  min="3"
                  max="20"
                  aria-label="units"
                  [value]="filterForm.controls.minLength.value"
                  (change)="
                    filterForm.controls.minLength.setValue($event.value)
                  "
                ></mat-slider>

                <div class="co-form-label">
                  {{ "LABELS.MAX_LENGTH" | translate }}
                </div>
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  step="1"
                  min="3"
                  max="20"
                  aria-label="units"
                  [value]="filterForm.controls.maxLength.value"
                  (change)="
                    filterForm.controls.maxLength.setValue($event.value)
                  "
                ></mat-slider>

                <div fxLayout="column" fxLayoutGap="10px">
                  <div fxFlex>
                    <mat-slide-toggle
                      [checked]="typesFilter.alphabet"
                      (change)="
                        typesFilter.alphabet = $event.checked;
                        typesFilter.emoji = false
                      "
                    >
                      {{ "LABELS.CONTAIN_ALPHABET" | translate }}
                    </mat-slide-toggle>
                  </div>
                  <div fxFlex>
                    <mat-slide-toggle
                      [checked]="typesFilter.numbers"
                      (change)="
                        typesFilter.numbers = $event.checked;
                        typesFilter.emoji = false
                      "
                    >
                      {{ "LABELS.CONTAIN_NUMBERS" | translate }}
                    </mat-slide-toggle>
                  </div>
                  <div fxFlex>
                    <mat-slide-toggle
                      [checked]="typesFilter.emoji"
                      (change)="
                        typesFilter.emoji = $event.checked;
                        typesFilter.numbers = false;
                        typesFilter.alphabet = false
                      "
                    >
                      {{ "LABELS.CONTAIN_EMOJI" | translate }}
                    </mat-slide-toggle>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div
          fxFlex
          fxLayout="column"
          fxLayoutAlign="stretch stretch"
          fxLayoutGap="10px"
        >
          <div
            class="cos-fluid-width cos-show-on-mobile cos-no-margin-bottom"
            [style.height]="'0px'"
          >
            <div
              id="co-avatar-item-size-guide-mobile"
              [style.width]="'calc(50% - 5px)'"
            ></div>
          </div>
          <div
            fxFlex="0 0 auto"
            class="cos-border cos-no-border-left cos-no-border-right cos-no-border-top cos-padding-1 cos-no-padding-left cos-no-padding-right"
          >
            <div
              fxFlex
              fxLayout="row"
              fxLayoutGap="10px"
              [ngClass]="hasDomainsListLoaded === false ? 'cos-disabled' : ''"
            >
              <div
                class="co-list-picker cos-pointer cos-center-text"
                [ngClass]="
                  showSalesActivity === true || hasDomainsListLoaded === false
                    ? { 'cos-bg-gray': true, 'cos-gray-text': true }
                    : 'cos-bg-main'
                "
                (click)="doShowSalesActivity(false)"
              >
                <b> {{ "LABELS.DOMAINS" | translate }} </b>
              </div>
              <div
                class="co-list-picker cos-pointer cos-center-text"
                [ngClass]="
                  showSalesActivity === false || hasDomainsListLoaded === false
                    ? { 'cos-bg-gray': true, 'cos-gray-text': true }
                    : 'cos-bg-main'
                "
                (click)="doShowSalesActivity(true)"
              >
                Activity
              </div>
            </div>
            <div
              id="co-avatar-item-size-guide"
              class="cos-disappear-on-mobile"
              [style.width]="'calc(16.77% - 10px)'"
            ></div>
            <div
              fxFlex
              fxLayoutGap="10px"
              fxLayoutAlign="end center"
              [ngClass]="
                showSalesActivity === true || hasDomainsListLoaded === false
                  ? 'cos-disabled'
                  : ''
              "
              class="cos-disappear-on-mobile"
            >
              <mat-icon
                class="cos-icon-can-activate"
                (click)="downloadDomainList()"
              >
                download
              </mat-icon>
              <span class="cos-gray-text"> | </span>
              <mat-icon
                class="cos-icon-can-activate cos-disappear-on-mobile"
                [color]="displayMode === displayModes.CHUNK ? 'primary' : ''"
                (click)="setDisplayMode(displayModes.CHUNK)"
              >
                view_agenda
              </mat-icon>
              <mat-icon
                class="cos-icon-can-activate"
                [color]="displayMode === displayModes.AVATAR ? 'primary' : ''"
                (click)="setDisplayMode(displayModes.AVATAR)"
              >
                grid_view
              </mat-icon>
              <mat-icon
                class="cos-icon-can-activate"
                [color]="displayMode === displayModes.LINEAR ? 'primary' : ''"
                (click)="setDisplayMode(displayModes.LINEAR)"
              >
                sort
              </mat-icon>
            </div>
          </div>
          <div
            *ngIf="showSalesActivity === true"
            fxFlex
            fxLayout="column"
            fxLayoutAlign="start start"
          >
            <div
              *ngIf="
                salesListResolving === false &&
                (salesList === null || salesList === undefined)
              "
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center"
              class="cos-fluid-width cos-fluid-height"
            >
              <div fxFlex="0 0 auto">
                <app-custom-spinner
                  [spinnerText]="'SPINNER.NO_DATA_TO_DISPLAY'"
                  [spinnerSize]="150"
                  [mode]="spinnerModes.LOADING"
                  [customIcon]="'llayers'"
                >
                </app-custom-spinner>
              </div>
            </div>
            <ng-container *ngTemplateOutlet="linearSalesTemplate">
            </ng-container>
            <ng-container *ngIf="salesListResolving === true">
              <ng-container *ngTemplateOutlet="placeHolderFullTemplate">
              </ng-container>
            </ng-container>
          </div>
          <div
            *ngIf="showSalesActivity === false"
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="start start"
          >
            <ng-container
              *ngIf="
                hasDomainsListLoaded === false &&
                displayMode === displayModes.CHUNK
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === false &&
                displayMode === displayModes.LINEAR
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderFullTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === false &&
                displayMode === displayModes.AVATAR
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderAvatarTemplate">
              </ng-container>
            </ng-container>
            <div
              *ngIf="
                hasDomainsListLoaded === true &&
                !(filterSearchDomains(searchKeyword).length > 0)
              "
              fxFlex
              fxLayout="column"
              fxLayoutAlign="center center"
              class="cos-fluid-width cos-fluid-height"
            >
              <div fxFlex="0 0 auto">
                <app-custom-spinner
                  [spinnerText]="'SPINNER.NO_DATA_TO_DISPLAY'"
                  [spinnerSize]="150"
                  [mode]="spinnerModes.LOADING"
                  [customIcon]="'llayers'"
                >
                </app-custom-spinner>
              </div>
            </div>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                displayMode === displayModes.LINEAR
              "
            >
              <ng-container *ngTemplateOutlet="linearDomainTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                displayMode === displayModes.AVATAR
              "
            >
              <ng-container *ngTemplateOutlet="avatarDomainTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                displayMode === displayModes.CHUNK
              "
            >
              <ng-container *ngTemplateOutlet="chunkDomainTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                categoryDomains !== undefined &&
                domainsListResolving === true &&
                displayMode === displayModes.CHUNK
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                categoryDomains !== undefined &&
                domainsListResolving === true &&
                displayMode === displayModes.AVATAR
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderAvatarTemplate">
              </ng-container>
            </ng-container>
            <ng-container
              *ngIf="
                hasDomainsListLoaded === true &&
                categoryDomains !== undefined &&
                domainsListResolving === true &&
                displayMode === displayModes.LINEAR
              "
            >
              <ng-container *ngTemplateOutlet="placeHolderFullTemplate">
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #avatarDomainTemplate>
  <ng-container *ngFor="let d of filterSearchDomains(searchKeyword)">
    <div
      fxLayout="column"
      class="co-item-with-avatar cos-border-radius-2 cos-pointer cos-border cos-bg-gray"
    >
      <app-preview-image
        [preview]="'assets/img-blank.png'"
        [error]="'assets/profile-blank.svg'"
        [src]="ensMetadataAPI + hashToBigIntString(d.labelHash) + '/image'"
        [style.height]="'auto'"
        class="cos-fluid-width cos-border-radius-2 cos-pointer"
        (click)="goToDomain(d.labelName)"
      ></app-preview-image>
      <div class="cos-padding-0" fxLayoutAlign="start center">
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="5px"
          fxLayoutAlign="center start"
        >
          <div fxFlex="0 0 auto" class="cos-body-3">
            <b> {{ pretty(d.labelName) }}.eth </b>
          </div>
          <div fxFlex="0 0 auto" fxLayout="row" fxLayoutGap="5px">
            <div class="cos-body-5 cos-gray-text">Exp:</div>
            <div class="cos-body-5">{{ d.expiry | timeAgo }}</div>
          </div>
          <div fxFlex></div>
        </div>
        <mat-icon
          *ngIf="domainValid(d.labelName) === false"
          color="accent"
          class="cos-small-icon cos-pointer"
          >warning</mat-icon
        >
        <mat-icon fxFlex="24px" class="cos-icon-can-activate"
          >bookmark_add</mat-icon
        >
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #linearDomainTemplate>
  <ng-container *ngFor="let d of filterSearchDomains(searchKeyword)">
    <div
      class="co-bulk-search-item-container cos-fluid-width cos-no-margin-right cos-pointer"
      (click)="goToDomain(pretty(d.labelName))"
    >
      <mat-progress-bar
        *ngIf="d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0"
        class="co-bulk-search-item-expiration-bar cos-hazard-progress-bar"
        mode="determinate"
        [value]="d.gracePeriodPercent"
      ></mat-progress-bar>
      <div
        class="co-bulk-search-item cos-padding-1 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
        [ngClass]="
          d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0
            ? ''
            : 'co-bulk-search-item-fill-progress-bar-gap'
        "
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
      >
        <div
          fxFlex="25"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          class="cos-wallet-address-text-cut"
        >
          {{ pretty(d.labelName) }}.eth
          <mat-icon
            *ngIf="domainValid(d.labelName) === false"
            color="accent"
            class="cos-small-icon cos-pointer"
            >warning</mat-icon
          >
        </div>
        <div
          fxFlex
          fxLayoutAlign="start center"
          class="cos-disappear-on-mobile"
        >
          <span class="cos-gray-text">
            {{ "LABELS.REGISTRATION_DATE" | translate }}:&nbsp;
          </span>
          {{ d.registrationDate | timeAgo }}
        </div>
        <div
          fxFlex
          fxLayoutAlign="start center"
          class="cos-disappear-on-mobile"
        >
          <span class="cos-gray-text">
            {{ "LABELS.EXPIRATION_DATE" | translate }}:&nbsp;
          </span>
          {{ d.expiry | timeAgo }}
        </div>
        <a
          href="{{ getDomainLink(d.labelName + '.eth') }}"
          target="_blank"
          class="cos-body-3"
        >
          {{ "BUTTON.VIEW_DETAILS" | translate }}
        </a>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #chunkDomainTemplate>
  <ng-container *ngFor="let d of filterSearchDomains(searchKeyword)">
    <div
      class="co-bulk-search-item-container"
      (click)="goToDomain(d.labelName)"
    >
      <mat-progress-bar
        *ngIf="d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0"
        class="co-bulk-search-item-expiration-bar cos-hazard-progress-bar"
        mode="determinate"
        [value]="d.gracePeriodPercent"
      ></mat-progress-bar>
      <div
        [ngClass]="
          d.gracePeriodPercent !== undefined && d.gracePeriodPercent > 0
            ? ''
            : 'co-bulk-search-item-fill-progress-bar-gap'
        "
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-padding-2 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      >
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="5px"
          fxLayoutAlign="center start"
        >
          <div fxFlex="0 0 auto" class="cos-body-2">
            <b> {{ pretty(d.labelName) }}.eth </b>
          </div>
          <div fxFlex="0 0 auto" fxLayout="row" fxLayoutGap="5px">
            <div class="cos-body-5 cos-gray-text">Reg. since:</div>
            <div class="cos-body-5">{{ d.registrationDate | timeAgo }}</div>
          </div>
          <div fxFlex></div>
        </div>
        <mat-icon
          *ngIf="domainValid(d.labelName) === false"
          color="accent"
          class="cos-small-icon cos-pointer"
          >warning</mat-icon
        >
        <mat-icon fxFlex="24px" class="cos-icon-can-activate"
          >bookmark_add</mat-icon
        >
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #linearSalesTemplate>
  <ng-container *ngFor="let s of salesList">
    <div
      class="co-bulk-search-item-container cos-fluid-width cos-no-margin-right cos-pointer"
    >
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="start center"
        class="co-bulk-search-item cos-fluid-width cos-padding-1 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      >
        <div
          fxFlex="25"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div
            fxFlex="0 0 auto"
            class="cos-bg-main cos-border-radius-1 cos-padding-2 cos-no-padding-top cos-no-padding-bottom cos-body-4 cos-disappear-on-mobile"
          >
            Sale
          </div>
          <div fxFlex>
            {{ pretty(s.domain) }}.eth
            <mat-icon
              *ngIf="domainValid(s.domain) === false"
              color="accent"
              class="cos-small-icon cos-pointer"
              >warning</mat-icon
            >
          </div>
        </div>
        <div
          fxFlex="40"
          fxLayout="column"
          fxLayoutAlign="start start"
          class="cos-disappear-on-mobile"
        >
          <div class="cos-gray-text">Buyer:&nbsp;</div>
          <div class="cos-wallet-address-cut cos-fluid-width-half">
            <a
              (click)="goToEtherscanAddress(s.buyer)"
              target="_blank"
              class="cos-body-4"
            >
              {{ s.buyer }}
            </a>
          </div>
        </div>
        <div fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="start start">
          <div class="cos-gray-text cos-disappear-on-mobile">Price:&nbsp;</div>
          <div class="cos-disappear-on-mobile">
            <b> {{ priceToFixedString(s.price) }} ETH </b>
          </div>
          <div
            class="cos-show-on-mobile cos-padding-2 cos-no-padding-top cos-no-padding-bottom cos-no-padding-right"
          >
            <b> {{ priceToFixedString(s.price) }} ETH </b>
          </div>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <a
            href="{{ getDomainLink(s.domain + '.eth') }}"
            target="_blank"
            class="cos-body-3"
            fxLayoutAlign="center center"
            fxLayoutGap="10px"
          >
            <div>
              {{ timeNumberToString(s.timestamp) | timeAgo }}
            </div>
            <mat-icon class="cos-small-icon">open_in_new</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #placeHolderTemplate>
  <ng-container *ngFor="let d of placeholders">
    <div class="co-bulk-search-item-container cos-placeholder">
      <div
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-padding-2 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      ></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #placeHolderFullTemplate>
  <ng-container *ngFor="let d of placeholders">
    <div class="co-bulk-search-item-container cos-placeholder cos-fluid-width">
      <div
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-padding-2 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      ></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #placeHolderAvatarTemplate>
  <ng-container *ngFor="let d of placeholders">
    <div
      class="co-bulk-search-item-container cos-placeholder cos-bulk-sarch-item-for-avatar"
      [style.height]="
        isDeviceMobile === true
          ? canvasService.getWidthOfDiv('co-avatar-item-size-guide-mobile') +
            60 +
            'px'
          : canvasService.getWidthOfDiv('co-avatar-item-size-guide') + 60 + 'px'
      "
    >
      <div
        fxLayoutGap="15px"
        fxLayoutAlign="center center"
        class="co-bulk-search-item cos-padding-2 cos-border-radius-1 cos-overflow-hidden cos-bg-gray"
      ></div>
    </div>
  </ng-container>
</ng-template>
