:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.co-blocky {
  border-radius: 5px;
  background-color: var(--co-button-disabled-color);
  color: var(--co-darker-border-color);

  &.co-blocky-rounded {
    border-radius: 50% !important;
  }
}
