<div
  class="co-header-container cos-pos-fixed cos-fluid-width cos-padding-2 cos-no-padding-left cos-no-padding-right"
>
  <app-main-header
    #mainHeader
    [show]="{
      showBasket: true,
      showBookmark: true,
      showCanvas: true,
      showSearch: true,
      showTranslation: true,
      showManagement: true
    }"
  ></app-main-header>
</div>
<div
  #fadeTop
  class="co-top-fade cos-pos-fixed cos-pos-top-reset cos-fluid-width"
  fxLayout="row"
  fxLayoutAlign="center end"
></div>
<div
  class="co-content-container cos-pos-fixed cos-fluid-width cos-fluid-height"
  fxLayoutAlign="center center"
  fxLayout="column"
>
  <div
    fxFlex
    appGetScrollableXy
    (scrollPosition)="
      $event[1] > 50
        ? (fadeTop.style.display = 'flex')
        : (fadeTop.style.display = 'none')
    "
    class="co-content-container-content cos-overflow-y cos-fluid-width cos-fluid-height cos-body-3 cos-padding-4 cos-no-padding-bottom cos-no-padding-left cos-no-padding-right"
    fxLayout="column"
    fxLayoutGap="30px"
  >
    <div
      fxFlex="0 0 auto"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="co-landing-text-container cos-fluid-width cos-body-4"
    >
      <div
        fxFlex
        fxLayoutAlign="center center"
        class="co-landing-text cos-center-text"
      >
        <div class="co-carousel-element">
          <div class="co-text-carousel-vertical cos-fluid-width">
            <div class="co-carousel-inner">
              <div class="co-carousel-element-item">
                {{ "LABELS.SEARCH_FOR" | translate }}
              </div>
              <div class="co-carousel-element-item">
                {{ "LABELS.REGISTER" | translate }}
              </div>
              <div class="co-carousel-element-item">
                {{ "LABELS.MANAGE" | translate }}
              </div>
              <div class="co-carousel-element-item">
                {{ "LABELS.COLLECT" | translate }}
              </div>
            </div>
          </div>
        </div>
        <span class="co-eth-text"><b>Web3</b></span>
        <div class="co-carousel-element">
          {{ "LABELS.DOMAINS" | translate }}
        </div>
      </div>

      <div
        fxFlex
        fxLayout="column"
        class="cos-center-text cos-margin-3 cos-no-margin-top"
        fxLayoutGap="20px"
      >
        <div
          fxFlex
          class="cos-center-text cos-body-0 cos-padding-2 cos-no-padding-bottom cos-no-paddnig-top cos-disappear-on-mobile"
        >
          {{ "LABELS.LANDING_TEXT" | translate }}
        </div>
      </div>

      <form
        fxFlex
        fxLayoutAlign="center center"
        fxFlexAlign="center"
        [formGroup]="mainSearchForm"
        class="co-main-form"
      >
        <mat-form-field
          fxFlexAlign="center"
          class="co-main-search cos-body-0 cos-input-field-no-label cos-input-field-large cos-field-width-shadow cos-gray-placeholder"
        >
          <input
            class="cos-fluid-width cos-bg-darker-gray cos-box-shadow"
            matInput
            type="text"
            placeholder="{{ 'LABELS.FIND_AND_REGISTER' | translate }}"
            autocomplete="off"
            maxlength="50"
            formControlName="search"
            (keydown.enter)="
              mainHeader?.bulksearch?.bulkSearchOpen === false
                ? performSearch()
                : ''
            "
          />
          <mat-icon matSuffix color="primary"> search </mat-icon>
          <div fxLayout="row" fxLayoutAlign="end start" class="cos-fluid-width">
            <div
              *ngIf="mainSearchForm.controls.search.value !== ''"
              class="co-enter-key cos-body-5 cos-box-shadow cos-pos-absolute cos-gray-text cos-padding-0 cos-bg-gray cos-border-radius-1"
            >
              <div fxFlex="0 0 auto" class="co-enter-arrow">↵</div>
              <div fxFlex>{{ "BUTTON.PRESS_ENTER" | translate }}</div>
            </div>
            <div class="co-advanced-mode cos-body-3 cos-pos-absolute">
              <a
                (click)="mainHeader?.bulksearch?.toggleBulkSearch(true)"
                class="cos-main-text"
              >
                {{ "LABELS.ADVANCED_MODE" | translate }}
              </a>
            </div>
          </div>
        </mat-form-field>
      </form>
      <div class="cos-body-2 cos-show-on-mobile cos-center-text cos-padding-3">
        <a (click)="mainHeader?.bulksearch?.toggleBulkSearch(true)">
          {{ "LABELS.ADVANCED_MODE" | translate }}
        </a>
      </div>
      <div
        *ngIf="showCategoryToUser === true"
        fxFlex
        fxLayoutGap="30px"
        class="co-top-content-container cos-margin-4 cos-no-margin-bottom cos-no-margin-left cos-no-margin-right"
      >
        <div
          *ngIf="categoriesEnabled === true"
          fxFlex
          fxLayout="column"
          fxLayoutGap="20px"
          class="cos-fluid-height cos-box-shadow cos-bg-gray cos-fluid-width cos-padding-2 cos-border-radius-2"
        >
          <div
            fxFlex="0 0 auto"
            fxLayoutAlign="center center"
            class="cos-body-0 cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-2"
          >
            <div
              fxFlex="0 0 auto"
              fxLayoutGap="10px"
              fxLayoutAlign="center center"
            >
              <mat-icon fxFlex="0 0 auto">insights</mat-icon>
              <div fxFlex>{{ "LABELS.TOP_CATEGORIES" | translate }}</div>
              <div
                fxFlex="0 0 auto"
                class="cos-body-5 cos-gray-text cos-margin-0 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom"
              >
                30d
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" class="cos-body-1">
            <ng-container *ngIf="topSales === undefined">
              <div
                *ngFor="let p of placeholdersTopSection"
                style="height: 28px"
                class="cos-fluid-width cos-placeholder cos-border-radius-1"
              ></div>
            </ng-container>
            <div fxFlex fxLayout="row" *ngFor="let t of topCategories">
              <div fxFlex>
                <a
                  href="/#/category/{{ t.category }}"
                  target="_blank"
                  class="cos-main-text"
                >
                  {{ metadata.categoriesDescription[t.category] }}
                </a>
              </div>
              <div fxFlex="0 0 auto" class="cos-right-text">
                {{ priceToFixed(t.volume, 2) }} ETH
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="categoriesEnabled === true"
          fxFlex
          fxLayout="column"
          fxLayoutGap="20px"
          class="cos-fluid-height cos-box-shadow cos-bg-gray cos-fluid-width cos-padding-2 cos-border-radius-2"
        >
          <div
            fxFlex="0 0 auto"
            fxLayoutAlign="center center"
            class="cos-body-0 cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-2"
          >
            <div
              fxFlex="0 0 auto"
              fxLayoutGap="10px"
              fxLayoutAlign="center center"
            >
              <mat-icon fxFlex="0 0 auto">magic_button</mat-icon>
              <div fxFlex>{{ "LABELS.TOP_SALES" | translate }}</div>
              <div
                fxFlex="0 0 auto"
                class="cos-body-5 cos-gray-text cos-margin-0 cos-no-margin-left cos-no-margin-right cos-no-margin-bottom"
              >
                30d
              </div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" class="cos-body-1">
            <ng-container *ngIf="topSales === undefined">
              <div
                *ngFor="let p of placeholdersTopSection"
                style="height: 28px"
                class="cos-fluid-width cos-placeholder cos-border-radius-1"
              ></div>
            </ng-container>
            <div fxFlex fxLayout="row" *ngFor="let t of topSales">
              <div
                fxFlex
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start center"
              >
                <a
                  href="/#/domain/{{ t.domain }}.eth"
                  target="_blank"
                  class="cos-main-text"
                >
                  {{ t.domain }}.eth
                </a>
                <div class="cos-body-4 cos-gray-text">
                  {{ timestampToString(t.timestamp) | timeAgo }}
                </div>
              </div>
              <div fxFlex="0 0 auto" class="cos-right-text">
                {{ priceToFixedString(t.price, 2) }} ETH
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="categoriesEnabled === true"
          fxFlex
          fxLayout="column"
          fxLayoutGap="20px"
          class="cos-fluid-height cos-box-shadow cos-bg-gray cos-fluid-width cos-padding-2 cos-border-radius-2"
        >
          <div
            fxFlex="0 0 auto"
            fxLayoutAlign="center center"
            class="cos-body-0 cos-bg-faded-darker-gray cos-padding-0 cos-border-radius-2"
          >
            <div
              fxFlex="0 0 auto"
              fxLayoutGap="10px"
              fxLayoutAlign="center center"
            >
              <mat-icon fxFlex="0 0 auto">list_alt</mat-icon>
              <div fxFlex>{{ "LABELS.RECENT_SALES" | translate }}</div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="5px" class="cos-body-1">
            <ng-container *ngIf="topSales === undefined">
              <div
                *ngFor="let p of placeholdersTopSection"
                style="height: 28px"
                class="cos-fluid-width cos-placeholder cos-border-radius-1"
              ></div>
            </ng-container>
            <div fxFlex fxLayout="row" *ngFor="let t of recentSales">
              <div
                fxFlex
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start center"
              >
                <a
                  href="/#/domain/{{ t.domain }}.eth"
                  target="_blank"
                  class="cos-main-text"
                >
                  {{ t.domain }}.eth
                </a>
                <div class="cos-body-4 cos-gray-text">
                  {{ timestampToString(t.timestamp) | timeAgo }}
                </div>
              </div>
              <div fxFlex="0 0 auto" class="cos-right-text">
                {{ priceToFixedString(t.price) }} ETH
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        fxFlex
        fxLayout="column"
        fxLayoutAlign="center center"
        class="co-home-content-container cos-margin-2 cos-no-margin-bottom cos-no-margin-left cos-no-margin-right"
      >
        <div
          *ngIf="categoriesEnabled === true && showCategoryToUser === true"
          fxFlex
          fxLayout="column"
          class="co-home-categories cos-fluid-width"
        >
          <div fxFlex fxLayout="row wrap" fxLayoutGap="30px">
            <ng-container *ngIf="categories === undefined">
              <div
                *ngFor="let p of placeholders"
                style="height: 150px"
                class="co-category cos-placeholder cos-border-radius-2"
              ></div>
            </ng-container>
            <div
              *ngFor="let c of categoriesSorted; let i = index"
              fxLayout="column"
              class="co-category cos-border-radius-2 cos-overflow-hidden"
              (click)="openCategory(c)"
            >
              <div>
                <div
                  fxLayoutAlign="start start"
                  class="cos-fluid-height cos-fluid-width cos-pointer cos-box-shadow"
                >
                  <app-preview-image
                    fxFlex
                    fxFlexAlign="start"
                    [dontLoad]="true"
                    [errored]="true"
                    [loaded]="true"
                    [preview]="'assets/category-profile-blank.svg'"
                    [error]="'assets/category-profile-blank.svg'"
                    [style.width]="'90px'"
                    [style.height]="'90px'"
                    [enableBorderRadius]="false"
                  ></app-preview-image>
                  <mat-icon class="co-category-thumbnail">
                    {{ metadata.categoriesThumbnails[c] }}
                  </mat-icon>
                </div>
              </div>
              <div
                fxLayout="row"
                class="co-category-description cos-pointer cos-fluid-width cos-bg-gray cos-padding-1"
              >
                <div
                  fxFlex="0 0 auto"
                  fxLayout="column"
                  fxLayoutAlign="center start"
                >
                  <div class="cos-body-0 cos-main-text">
                    {{ metadata.categoriesTitle[c] }}
                    <mat-icon class="cos-small-icon">open_in_new</mat-icon>
                  </div>
                  <div fxFlex="0 0 auto" class="cos-body-4">
                    {{ metadata.categoriesDescription[c] }}
                  </div>
                </div>
                <div fxFlex></div>
                <div fxLayout="column" fxLayoutAlign="center end">
                  <div fxFlex="0 0 auto" class="cos-body-0">
                    <b> {{ getCategoryVolume(c) }} ETH </b>
                  </div>
                  <div fxFlex="0 0 auto" class="cos-gray-text cos-body-4">
                    {{ "LABELS.MONTHLY_VOLUME" | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="blogs !== undefined && blogs !== false"
        fxFlex
        fxLayoutGap="20px"
        class="co-blogs-content-container cos-margin-2 cos-no-margin-bottom cos-no-margin-left cos-no-margin-right"
      >
        <div
          *ngFor="let b of blogs"
          fxFlex
          fxLayout="column"
          fxLayoutGap="10px"
          class="co-home-blogs cos-bg-faded-darker-gray cos-fluid-width cos-padding-2 cos-border-radius-2"
        >
          <div fxFlex="0 0 auto" class="cos-body-0">
            <a href="{{ b.link }}">
              {{ b.title }}
            </a>
          </div>
          <div fxFlex [innerHtml]="b.description"></div>
          <div
            fxFlex="0 0 auto"
            fxLayoutAlign="start end"
            class="cos-gray-text cos-fluid-width"
          >
            <a href="{{ b.link }}">Read Blog</a>
            <span fxFlex class="cos-right-text">
              {{ getTimeFromDate(b.pubDate) | timeAgo }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<mat-menu #domainTypeMenu="matMenu" class="cos-menu" xPosition="after">
  <button mat-menu-item (click)="selectDomainSearchType(domainTypes.ENS)">
    <mat-icon>language</mat-icon>
    ENS - Ethereum Name Service
  </button>
  <button mat-menu-item (click)="selectDomainSearchType(domainTypes.LNR)">
    <mat-icon>language</mat-icon>
    LNR - Linagee Name Registrar
  </button>
</mat-menu>
