:host {
  width: 100%;
  height: 100%;
}

.co-logo-text {
  top: 0;
  left: 0;
  height: 88px;
}

.co-main-header {
  z-index: 1003;
}

.co-bg {
  background: url(/assets/stars.webp);
  opacity: 0.2;
}
.co-signin {
  z-index: 1002;
  .co-signin-content {
    justify-content: center;
  }
}

.co-title-input {
  margin-bottom: -50px;
}

.co-landing-text-container {
  margin-top: -200px;
}

.co-landing-text {
  font-size: 55px;
  padding-bottom: 0px;
  flex-direction: row;

  @media only screen and (max-width: 1000px) {
    flex-direction: column !important;
    text-align: center !important;
    width: 100% !important;
  }
  @media only screen and (max-width: 750px) {
    font-size: 45px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0 !important;
  }
  @media only screen and (max-width: 750px) and (max-height: 800px) {
    font-size: 45px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0px !important;
    margin-top: 150px;
  }

  .co-carousel-element {
    width: 500px;
    height: 85px;
    text-align: left !important;
    &:first-of-type {
      margin-right: 25px;
      text-align: right !important;
      @media only screen and (max-width: 1000px) {
        text-align: center !important;
        margin-right: 0 !important;
      }
    }
    @media only screen and (max-width: 1000px) {
      text-align: center !important;
      width: 100% !important;
    }

    .co-text-carousel-vertical {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      height: 85px;
      @media only screen and (max-width: 1000px) {
        display: flex;
        justify-content: center;
      }
      .co-carousel-inner {
        animation: scroll 10s ease-in-out infinite;
        animation-direction: reverse;
        .co-carousel-element-item {
          height: 85px;
        }
        @keyframes scroll {
          0%,
          20% {
            transform: translateY(0);
          }
          25%,
          45% {
            transform: translateY(calc(0px - 85px * 1));
          }
          50%,
          70% {
            transform: translateY(calc(0px - 85px * 2));
          }
          75%,
          95% {
            transform: translateY(calc(0px - 85px * 3));
          }
          100% {
            transform: translateY(calc(0px - 85px * 4));
          }
        }
      }
    }
  }

  .co-eth-text {
    background: linear-gradient(
      90deg,
      #52e5ff,
      #513eff,
      #52e5ff,
      #513eff,
      #52e5ff,
      #513eff,
      #52e5ff,
      #513eff,
      #52e5ff,
      #513eff,
      #52e5ff,
      #513eff
    );
    background-size: 1600% 1600%;
    -webkit-animation: ethtextanim 50s ease infinite;
    -moz-animation: ethtextanim 50s ease infinite;
    animation: ethtextanim 50s ease infinite;
    margin-right: 25px;

    @media only screen and (max-width: 1000px) {
      margin-right: 0 !important;
    }
    @media only screen and (max-width: 750px) {
      margin-right: 0px !important;
      margin-top: -15px;
    }
    color: transparent;
    -webkit-background-clip: text;
    @-webkit-keyframes ethtextanim {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @-moz-keyframes ethtextanim {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes ethtextanim {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.co-main-search {
  width: 75% !important;
  @media only screen and (max-width: 1000px) {
    width: 90% !important;
  }
}

.co-title-container {
  margin-top: -15px;
}

.co-advanced-mode {
  margin-top: -60px;
  margin-right: 45px;
  padding: 20px;
  background: var(--co-button-disabled-color);
  z-index: 1;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.co-enter-key {
  .co-enter-arrow {
    margin-bottom: -5px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  opacity: 0.7;
  margin-top: -45px;
  margin-right: 220px;

  @media only screen and (max-width: 500px) {
    display: none !important;
  }

  @media only screen and (min-width: 500px) and (max-width: 1000px) {
    margin-right: 55px;
  }
}

.co-main-form {
  width: 75%;
  @media only screen and (max-width: 1000px) {
    width: 100% !important;
  }
}
