@use "@angular/material" as mat;
@include mat.core();
$web-primary: mat.define-palette(mat.$indigo-palette);
$web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$web-warn: mat.define-palette(mat.$red-palette);
$web-theme: mat.define-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
  )
);

@include mat.all-component-themes($web-theme);
