@import "./app-styles.scss";

.co-manage-domains-table-header {
  thead {
    tr {
      height: 52px !important;
      overflow: hidden;
      th {
        flex: 1 1;
        justify-content: center;
        &:first-of-type {
          flex: 0 1 20% !important;
          @media only screen and (max-width: 1000px) {
            flex: 1 1 20% !important;
          }
        }
        &:nth-of-type(2) {
          @media only screen and (max-width: 1000px) {
            display: none !important;
          }
        }
        &:nth-of-type(3) {
          justify-content: flex-end !important;
        }
        &:nth-of-type(4) {
          justify-content: flex-end !important;
        }
        &:last-of-type {
          justify-content: flex-end !important;
          .co-header-transfer-column {
            .mat-checkbox {
              .mat-checkbox-layout {
                .mat-checkbox-inner-container {
                  padding-right: 5px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
.co-manage-domains-table {
  thead {
    tr {
      height: 52px !important;
      overflow: hidden;
      th {
        flex: 1 1;
        justify-content: center;
        &:first-of-type {
          flex: 0 1 20% !important;
          @media only screen and (max-width: 1000px) {
            flex: 1 1 20% !important;
          }
        }
        &:nth-of-type(2) {
          @media only screen and (max-width: 1000px) {
            display: none !important;
          }
        }
        &:nth-of-type(3) {
          justify-content: flex-end !important;
        }
        &:nth-of-type(4) {
          justify-content: flex-end !important;
        }
        &:last-of-type {
          justify-content: flex-end !important;
          .co-header-transfer-column {
            .mat-checkbox {
              .mat-checkbox-layout {
                .mat-checkbox-inner-container {
                  padding-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
  tbody {
    width: calc(80% - 62.5px) !important;
    height: calc(100% - 295px) !important;
    border-left: solid 4px var(--co-faded-dark-gray-bg) !important;
    @media only screen and (max-width: 1000px) {
      border-left: 0 !important;
      width: 100% !important;
      height: calc(100% - 288px) !important;
    }
    tr {
      height: 50px !important;
      overflow: hidden;
      td {
        flex: 1 1;
        align-items: center !important;
        &:first-of-type {
          overflow: hidden;
          flex: 0 1 20% !important;
          align-items: flex-start !important;
          @media only screen and (max-width: 1000px) {
            flex: 1 1 20% !important;
          }
        }
        &:nth-of-type(2) {
          @media only screen and (max-width: 1000px) {
            display: none !important;
          }
        }
        &:nth-of-type(3) {
          align-items: flex-end !important;
        }
        &:nth-of-type(4) {
          align-items: flex-end !important;
        }
        &:last-of-type {
          align-items: flex-end !important;
        }
      }
    }
  }

  &.cos-expandable {
    tr {
      &:nth-of-type(even) {
        height: auto !important;
      }
    }
  }
}
