.cos-moon {
  background: url(assets/moon.png) bottom no-repeat;
  background-size: 100%;
  z-index: 1002;
}

/*
    STAR SKY by Eric Johnsno https://codepen.io/ericdjohnson/pen/GRpOgVO
*/

$shooting-time: 3000ms;
$star-movement: 300px;

.night {
  position: relative;
  width: 100%;
  height: 100%;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  z-index: 1001;
  background: linear-gradient(
    -45deg,
    rgba(95, 145, 255, 1),
    rgba(0, 0, 255, 0)
  );
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  transform-origin: left center;
  animation: tail $shooting-time ease-in-out infinite,
    shooting $shooting-time ease-in-out infinite,
    delay-animation #{$shooting-time * 2} linear infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      rgba(95, 145, 255, 1),
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotate(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    transform: translateX(50%) rotate(-45deg);
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(#{random(100) * 1%} - #{$star-movement});
      left: calc(#{random(100) * 1%} - #{$star-movement});
      animation-delay: $delay;
      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }

  100% {
    transform: translate(300px, 300px) rotate(45deg);
  }
}

@keyframes delay-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
