@import "~@ctrl/ngx-emoji-mart/picker";
:root {
  --co-default-text-color: #ffffff;
  --co-bg-neutral-color: #121619;
  --co-main-color: #52a6f2;
  --co-placeholder-text-color: #87868b;
  --co-placeholder-text-lighter-color: #d6d6d8;
  --co-tag-text-color: #87868b;
  --co-anchor-color: #fff;
  --co-gray-color: #f6f6f6;
  --co-border-color: #4c505c;
  --co-darker-border-color: #21262a;
  --co-gray-elements-color: #eeeef0;
  --co-button-disabled-color: #272c30;
  --co-button-disabled-text-color: #9e9e9e;
  --co-danger-color: #ff5148;
  --co-light-gray-bg: #353840;
  --co-gray-bg: #272c30;
  --co-darker-gray-bg: #202225;
  --co-faded-dark-gray-bg: #1a1e22;
  --co-icons-color: #ffffff;
  --co-top-fade-color: #202225;
  --co-hazard-color: #ffff00;
  --co-uptrend-color: #48ffad;
  --co-downtrend-color: #ff5148;

  .light-mode {
    --co-default-text-color: #04111d;
    --co-bg-neutral-color: #ffffff;
    --co-main-color: #52a6f2;
    --co-placeholder-text-color: #87868b;
    --co-placeholder-text-lighter-color: #d6d6d8;
    --co-tag-text-color: #04111d;
    --co-anchor-color: #52a6f2;
    --co-gray-color: #f6f6f6;
    --co-border-color: #e5e8eb;
    --co-darker-border-color: #e5e8eb;
    --co-gray-elements-color: #eeeef0;
    --co-button-disabled-color: #a6cdf3;
    --co-button-disabled-text-color: #9e9e9e;
    --co-danger-color: #ff5148;
    --co-light-gray-bg: #e5e8eb;
    --co-gray-bg: #e5e8eb;
    --co-darker-gray-bg: #ffffff;
    --co-faded-dark-gray-bg: #1a1e22;
    --co-icons-color: #707a83;
    --co-top-fade-color: #ffffff;
    --co-hazard-color: #ffff00;
    --co-uptrend-color: #48ffad;
    --co-downtrend-color: #ff5148;
  }

  --co-margin-0: 0.5em;
  --co-margin-1: 1em;
  --co-margin-2: 1.5em;
  --co-margin-3: 2em;
  --co-margin-4: 2.5em;
  --co-margin-5: 3em;

  --co-padding-0: 0.5em;
  --co-padding-1: 1em;
  --co-padding-2: 1.5em;
  --co-padding-3: 2em;
  --co-padding-4: 2.5em;

  --co-font-size-40: 40px;
  --co-font-size-30: 30px;
  --co-font-size-0: 20px;
  --co-font-size-1: 18px;
  --co-font-size-2: 17px;
  --co-font-size-3: 15px;
  --co-font-size-4: 14px;
  --co-font-size-5: 13px;
  --co-font-size-6: 12px;
  --co-font-size-7: 10px;

  --cos-border-radius-1: 3px;
  --cos-border-radius-2: 12px;
  --cos-border-radius-3: 16px;
  --cos-border-radius-4: 50px;

  --co-box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 5%),
    0 1px 10px 0 rgb(0 0 0 / 5%);
}
