@import "./app-styles.scss";

.co-manage-domains-table-header {
  thead {
    tr {
      height: 52px !important;
      overflow: hidden;
      th {
        flex: 1;
        justify-content: center;
        &:first-of-type {
          flex: 1 1 10% !important;
        }
        &:nth-of-type(3n) {
          justify-content: flex-end !important;
        }
        &:nth-of-type(4n) {
          justify-content: flex-end !important;
        }
        &:last-of-type {
          justify-content: flex-end !important;
          .co-header-transfer-column {
            .mat-checkbox {
              .mat-checkbox-layout {
                .mat-checkbox-inner-container {
                  padding-right: 5px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
.co-manage-domains-table {
  thead {
    tr {
      height: 52px !important;
      overflow: hidden;
      th {
        flex: 1;
        justify-content: center;
        &:first-of-type {
          flex: 1 1 10% !important;
        }
        &:nth-of-type(3n) {
          justify-content: flex-end !important;
        }
        &:nth-of-type(4n) {
          justify-content: flex-end !important;
        }
        &:last-of-type {
          justify-content: flex-end !important;
          .co-header-transfer-column {
            .mat-checkbox {
              .mat-checkbox-layout {
                .mat-checkbox-inner-container {
                  padding-right: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
  tbody {
    width: calc(80% - 60px) !important;
    height: calc(100% - 305px) !important;
    @media only screen and (max-width: 1000px) {
      width: calc(100% - 50px) !important;
      height: calc(100% - 315px) !important;
    }
    tr {
      height: 50px !important;
      overflow: hidden;
      td {
        flex: 1;
        align-items: center !important;
        &:first-of-type {
          overflow: hidden;
          flex: 1 1 10% !important;
          align-items: flex-start !important;
        }
        &:nth-of-type(3n) {
          align-items: flex-end !important;
        }
        &:nth-of-type(4n) {
          align-items: flex-end !important;
        }
        &:last-of-type {
          align-items: flex-end !important;
        }
      }
    }
  }

  &.cos-expandable {
    tr {
      &:nth-of-type(even) {
        height: auto !important;
      }
    }
  }
}
