:root {
  --co-default-text-color: #ffffff;
  --co-bg-neutral-color: black;
  --co-main-color: #52a6f2;
  --co-placeholder-text-color: #87868b;
  --co-placeholder-text-lighter-color: #d6d6d8;
  --co-tag-text-color: #87868b;
  --co-anchor-color: #52a6f2;
  --co-gray-color: #f6f6f6;
  --co-border-color: rgba(41, 52, 67, 0.1);
  --co-darker-border-color: #121619;
  --co-gray-elements-color: #eeeef0;
  --co-button-disabled-color: #2d3134;
  --co-button-disabled-text-color: #9e9e9e;
  --co-danger-color: red;
  --co-gray-bg: #2d3134;
  --co-darker-gray-bg: #14171c;

  --co-font-size-40: 40px;
  --co-font-size-30: 30px;
  --co-font-size-0: 20px;
  --co-font-size-1: 18px;
  --co-font-size-2: 17px;
  --co-font-size-3: 15px;
  --co-font-size-4: 14px;
  --co-font-size-5: 13px;
  --co-font-size-6: 12px;
  --co-font-size-7: 10px;

  --cos-border-radius-1: 3px;
  --cos-border-radius-2: 10px;
  --cos-border-radius-3: 15px;
  --cos-border-radius-4: 50px;
}
